[2017-10-05 16:17] joshblum opened #5 "Track requirements and add coverage"
https://requires.io/
helpful for keeping requirements up-to-date

https://coveralls.io/
helpful for keeping track of library health through test coverage on the project.

@kmax12 if you setup these accounts (i believe both free for public repos) I can add to the circle config to get them up and running

[2017-10-11 20:38] joshblum commented on #5
coveralls is addressed in #12

[2017-10-12 01:21] joshblum commented on #5
requirements are addressed in #15

[2017-10-13 01:11] #5 closed

[2017-11-08 22:35] ZhensongQian opened #28 "support for non-relational data?"
Great to see this "Deep Feature Synthesis" tool to help automate the feature engineering.
Based on the paper "Deep feature synthesis: Towards automating data science endeavors"-
DSAA2015, and online DOC (https://docs.featuretools.com/index.html), currently it seems like DFS could only support "relation data" (couple entity tables and relational tables)?
Do I miss something?
Any plan to include the

[2017-11-11 02:05] kmax12 commented on #28
Yes, you can run on featuretools on one big table.

Many of the primitives we support do not require relationships to be defined. If you read about [primitives](https://docs.featuretools.com/automated_feature_engineering/primitives.html) in our documentation you can read about these "transform" primitives, as well as learn how to define your own custom primitives. Custom primitves can be used to e

[2017-11-12 01:20] RylandCapital opened #30 "pip install fail"
Using python 2.7

I tried pip install featuretools. seems to work but then stalls here:

[code]
tried installing dependecies manually but couldnt make it happen. I need this to work.
Any help would be awesome!

thanks guys and gals

[2017-11-13 19:30] kmax12 commented on #30
This looks like an issue installing the scipy dependency on Windows.

Made a fix in #31. Can you try installing via this command?
[code]

[2017-11-13 19:31] kmax12 commented on #28
Closing this issue for now. Please email help@featuretools.com if you have any other questions.

[2017-11-13 19:31] #28 closed

[2017-11-13 20:09] RylandCapital commented on #30
max coming through in the clutch!

worked immediately.

[2017-11-13 20:27] kmax12 commented on #30
Thanks! Glad it worked. Closing issue for now

[2017-11-13 20:27] #30 closed

[2017-11-15 01:20] ZhensongQian commented on #28
@kmax12  Thanks for the reply. Great to hear the confirmation. I will look into the details for the `transform` primitives.

[2017-11-16 01:22] chappers opened #32 "Python 3 support?"
Hi guys,

Just wondering if there is a roadmap for Python 3 support?

[2017-11-18 03:30] kmax12 commented on #32
Yep, a python 3 version of featuretools is already passing all automated testing, but hasn't been officially released yet. Work is being done in #16

[2017-11-23 01:56] chappers opened #36 "Option for `calculate_feature_matrix` to fail quietly"
Is it possible to have `calculate_feature_matrix` to fail quietly? I'm thinking something similar to how many R functions have `na.option=pass`. The reason for this is when you are scoring on new data, say for production and you have some weird data in it, you may want a warning to come up, but you don't want the whole process to stop.

Basically if it were to error out, instead it will fill in th

[2017-11-23 22:08] kmax12 commented on #36
That is an interesting suggestion and could definitely help production deployment. I would be a bit concern about silencing legitimate errors, but I an option could be useful. For existing deployments, we do validation outside of the `calculate_feature_matrix` call.

Similar to your suggestion, we could accomplish this with an  `error` parameter that could be `raise` (the default) or  `ignore`.  I

[2017-11-23 22:43] chappers commented on #36
@kmax12 that proposal sounds sensible! Thanks

[2017-12-07 23:13] rwedge opened #39 "DFS stacks transform primitives in an incomplete manner"
When creating transform features on an entity, DFS applies transform primitives to the entity's identity features to create new features. At this step, DFS could either use these new features as inputs for more transform features (up to max_depth or some other arbitrary depth) or stop making transform features.

Currently, DFS stacks transform features on top of each other, but only if the transfo

[2017-12-15 00:51] kmax12 opened #43 "Training window documentation is out of date"
Needs to be updated in `dfs` and `calculate_feature_matrix`

[2017-12-18 19:26] Seth-Rothschild commented on #39
I think it's reasonable to have them stack in either direction as opposed to not stacking at all. There are generically there are lots of reasons to want to compose two functions.

The downside would be the risk of stacking something in a way that's strictly not useful (e.g. the absolute value of something positive). That being said, even if there are more useless stacked `trans_primitives` than u

[2017-12-20 11:55] joshblum commented on #32
closed by #16 & #48 !

[2017-12-20 11:55] #32 closed

[2017-12-21 10:18] ab-anssi opened #49 "Error while adding a relationship"
I am trying to extract features automatically with featuretools from synthetic data I have created. An error is raised when I add a particular relationship `es.add_relationship(ips_flows)` (line 12 in synethetic_flows.py). The error says that the key `ip` does not exist, while it does in the input data frame.

Is it a bug ? Or do the linked columns need to meet some specific constraints ?

Context

[2017-12-21 14:28] kmax12 commented on #49
@ab-anssi the problem here is that the relationships must be one-to-many. In your code, the relationship between `main` and `ips` is a one-to-one since the relationship is on both of their index columns.

If I remove `main` and build features for `ips` as the target entity, it all run. Attaching the code.

However, looks like your label is in `main`, so I'd recommend merging them into one table be

[2017-12-21 14:33] kmax12 opened #50 "Document that relationships must be one to many"
Should be added to this section: https://docs.featuretools.com/loading_data/using_entitysets.html#adding-a-relationship

Avoid confusions such as #49

[2017-12-21 14:43] kmax12 commented on #49
If the code above works, you should see a feature matrix like this
[code]

[2017-12-21 15:04] ab-anssi commented on #49
Thanks for your quick answer. It works !

[2017-12-21 15:04] #49 closed

[2017-12-27 00:30] PaulHobbs opened #52 "Don't pin versions in requirements.txt"
Per https://packaging.python.org/discussions/install-requires-vs-requirements/#install-requires,

featuretools is breaking convention by pinning specific versions of all its dependencies in install-requires: _"It is not considered best practice to use install_requires to pin dependencies to specific versions"_

Specifically, this is causing a dependency conflict when I try to install the following

[2017-12-27 02:20] kmax12 commented on #52
Thanks for pointing this out. Let me look into the versions we can allow for each of the dependencies and update this as soon as possible.

[2017-12-27 04:12] kmax12 commented on #52
@PaulHobbs I just put up #53. However, I still need to look into the minimum versions we can support. Can you share which packages / version you were having conflicts with? That would help as starting point for me to test. Thanks!

[2017-12-27 05:47] PaulHobbs commented on #52
Hey Max,

Sorry I’m on my phone at the moment, but the conflict was between pandas
0.23.something and pandas 0.22.something (which featuretools requires). You
should be able to reproduce it by installing the latest version of
virtualenv and pipenv and running the commands I listed.

On Tue, Dec 26, 2017 at 20:12 Max Kanter <notifications@github.com> wrote:

[2017-12-28 14:20] davidas85 commented on #52
having the same issue - the main conflict is that i want to use pandas 0.21.* and featuretools is forcing 0.20.3.
It also uninstalled my existing cloudpickle (downgraded version from 0.5.2) and future (upgraded from 0.15.2).

[2017-12-28 15:24] kmax12 commented on #52
@davidas85 thanks for the additional info. I have a PR #53 unpinning the requirements if you want to instal it directly. For some reason, tests are failing on Python 3.4, but pass on 2.7, 3.5, and 3.6.

[2017-12-29 23:10] kmax12 opened #54 "Provide example of many-to-many relationship"
In situations where we want to run Deep Feature Synthesis for a dataset that has a many-to-many relationship we need to create an extra association entity to handle the mapping. Featuretools supports this use case, but it could be more clear to users of the library if we provided an example either in the documentation on in a demo like the ones we have on the website.

[2017-12-31 18:06] kmax12 opened #55 "Support default_value in make_agg_primitive"
If you are using the `make_agg_primitive` to define a custom primitive, you currently cannot provide the `default_value` to use. This parameter is supported by the lower level class-based definition of primitives, so it should available through the helper method.

[2018-01-02 14:21] Seth-Rothschild commented on #55
It seems like `make_agg_primitive` currently decides what the default value is by passing in empty data to the provided function:
[code]
We could just change that to `new_class.default_value = default_value` and we set a default as a kwarg?

[2018-01-02 15:44] kmax12 commented on #55
Good catch.

I don't think we need to add the kwarg, but we should put this somewhere in the documentation and doc string for the function.

[2018-01-04 15:41] Seth-Rothschild opened #58 "Problem with `new_entity_secondary_time_index` in dfs"
For the dataset I'm using, I have
[code]
so that I can automatically calculate the first and last time that a plow is on the road. If I give the secondary time index a new name, with `new_entity_secondary_time_index`
[code]
then I get a `KeyError` in dfs. This seems to come from the line in `_filter_and_sort`:
[code]

[2018-01-04 17:54] Seth-Rothschild commented on #58
It looks like `es['plows'].secondary_time_index` stays as `{'date_fixed': 'date_fixed'}` even after `new_entity_secondary_time_index`.

In fact, `new_entity_secondary_time_index` does
[code]
which only changes the columns of the underlying dataframe. Setting `new_entity.secondary_time_index` explicitly would fix

[2018-01-08 02:27] carter54 opened #60 "error in function 'pd_time_unit' within 'transform_primitive.py'"
should we delete the '.values' in 'getattr(pd_index, time_unit).values', otherwise I get the error of 'AttributeError: 'numpy.ndarray' object has no attribute 'values'' in this line.

[code]

[2018-01-08 02:29] carter54 commented on #60
should we delete the '.values' in 'getattr(pd_index, time_unit).values', otherwise I get the error of 'AttributeError: 'numpy.ndarray' object has no attribute 'values'' in this line.

def pd_time_unit(time_unit):
    def inner(pd_index):
        return getattr(pd_index, time_unit)
#        return getattr(pd_index, time_unit).values
    return inner

[2018-01-08 02:57] kmax12 commented on #60
@carter54 can you past the full stack trace of the error? That will be helpful to see what primitive is causing this error, so we can try recreating it.

[2018-01-08 07:42] carter54 commented on #60
`
  File "<ipython-input-1-bde3e95cf9c1>", line 1, in <module>
    runfile('D:/personal_code/Featuretools/simple_demo.py', wdir='D:/personal_code/Featuretools')

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 866, in runfile
    execfile(filename, namespace)

  File "C:\ProgramData\Anaconda3\lib\site-packages\spyder\utils\site\sitecustomize.py", line 1

[2018-01-08 16:24] kmax12 commented on #60
@carter54 thanks. that is helpful.

We are trying to reproduce, but unable to.

Is there any chance you can share a piece of code that reproduces it? If you don't want to share publically, my gmail is in my profile.

[2018-01-09 02:16] carter54 commented on #60
@kmax12 I just followed the very simple example in the README.md
`import featuretools as ft
es = ft.demo.load_mock_customer(return_entityset=True)

feature_matrix, features_defs = ft.dfs(entityset=es, target_entity="customers")
feature_matrix.head(5)`
nothing else. When I delete the '.values' in 'getattr(pd_index, time_unit).values within 'transform_primitive.py'， everything works all right.

[2018-01-09 02:23] kmax12 commented on #60
I see. I am able to run that exact code using using python 3.6.4 and featuretools 0.1.16.

Perhaps you have a conflicting package installed. Can you run `pip freeze` and send what it outputs?

[2018-01-11 15:46] Seth-Rothschild opened #62 "Getting the internal function from a primitive"
I've been looking at pulling out the internal function from a primitive. Having access to the function allows for making some very powerful custom primitives:

1. It allows for compositions like `Mean(CumSum(Absolute()))` to be a depth 1 primitive.
2. It give easy access to changing input and output types of primitives through the `make_x_primitive` API (e.g. make `NumHour` as `Hour` but with a `v

[2018-01-11 16:05] bschreck commented on #62
The problem you're seeing is that the function is stored inside of an instance method instead of a class method, right? So that in order to access it you need an actual instance of a primitive rather than the primitive class itself. I could see it making sense to have the function stored as an instance function, and then the get_function() method would basically return the function with the "self"

[2018-01-11 18:29] Seth-Rothschild commented on #62
I think that's right. For custom primitive though, it's not necessarily possible to have a base feature on hand to do `Absolute(base_feature)`

Your example here is what I meant by function composition, the key point being that `MeanAbsolute` is a depth 1 primitive instead of being created automatically as a depth 2 one. The user also wouldn't necessarily know that it's `np.absolute` under the hoo

[2018-01-11 18:56] bschreck commented on #62
I like the idea of composing primitives like that. Generally you'd pass these primitives as seed_features, where depth is ignored and they are treated just like variables in the entityset. But it could matter if you pass a composed primitive class into the agg_primitives or trans_primitives DFS parameters.

[2018-01-11 19:46] Seth-Rothschild commented on #62
The more I think about it the more sold I am.

Not only is a `seed_feature` dataset specific but the function also doesn't get applied later in relevant places, which is a big part of the power of DFS. It also gets us better use from "intermediate primitives" which we've only been using for seed features so far.

For example, in NYC Taxi 4 there's a `GEOBOX` seed feature which finds if a latlong i

[2018-01-11 22:16] kmax12 commented on #60
Closing this for now. If you have additional information on how to reproduce, would be happy to help! Thanks

[2018-01-11 22:16] #60 closed

[2018-01-11 23:56] #58 closed

[2018-01-11 23:56] Seth-Rothschild commented on #58
Closed with #59

[2018-01-12 22:03] Seth-Rothschild commented on #62
Started #66 to work on this. Added `classmethod` as suggested and that fixes python2 and datetime type problems.

[2018-01-12 23:49] alvinthai opened #67 "autofunction documentation issues - featuretools.dfs"
Hi,

I noticed that a few parameters (``entities`` and ``ignore_variables``) are missing in the documentation for [featuretools.dfs](https://docs.featuretools.com/generated/featuretools.dfs.html#featuretools.dfs). This is probably due to the input types for these parameters being specified as **dict[str: something]** in the docstring for [featuretools.synthesis.dfs](https://github.com/Featuretools

[2018-01-13 00:42] kmax12 commented on #67
@alvinthai thanks for pointing this out. we'll get it fixed for the next release

[2018-01-15 17:17] kmax12 commented on #62
This is an interesting problem, but we need need to think more about the best solution.

Right now, primitives might use instance attributes to dynamically define the function they return when you call `get_function`. For example, the `NMostCommon` primitive depends on the `n` that the primitive is initialized with. For now, let's keep the current convention and not take the the approach of making

[2018-01-15 21:50] #67 closed

[2018-01-15 22:06] kmax12 commented on #52
fixed by #53 and #64

[2018-01-15 22:06] #52 closed

[2018-01-19 22:25] rwedge opened #73 "Loading / saving features doesn't support file-like objects as input"
Currently Featuretools supports saving a list of features to disk and loading them from disk using a file path as an input.  If these functions supported file-like objects as an alternate input we could save features to string buffers or unnamed temporary files.

[2018-01-22 19:31] rwedge opened #74 "Passing additional data through calculate feature matrix"
It would be useful to be able to pass labels or other extra columns to `calculate_feature_matrix` and have them be added to the feature matrix that is returned.  Proposed implementation: include these additional columns in the `cutoff_time` argument.  The first two columns of `cutoff_time` will always be the instance ids and cutoff times.  Any extra columns will be treated as additional data colum

[2018-01-23 05:44] Seth-Rothschild opened #75 "Minor docstring inaccuracies"
I came accross these two issues:
1. In [entity_from_dataframe](https://docs.featuretools.com/generated/featuretools.entityset.EntitySet.entity_from_dataframe.html) it says `secondary_time_index` is a string, when it should be a dictionary.
2. In [normalize_entity](https://docs.featuretools.com/generated/featuretools.entityset.EntitySet.normalize_entity.html) there's an undocumented kwarg `variable

[2018-01-23 05:50] Seth-Rothschild commented on #75
It's worth noting that other pages follow slightly different styles as well. [make_agg_primitive](https://docs.featuretools.com/generated/featuretools.primitives.make_agg_primitive.html) uses distinct, possibly better notation which states `list[Variable]` with special typesetting for `Variable` to indicate it's a featuretools class. Maybe it's better to spec to that and try to standardize all of

[2018-01-23 16:14] rwedge opened #76 "Line-by-line coverage files missing from codecov for recent commits"
Most likely due to part of the codecov command failing in CircleCI because the docker image used does not have git installed.

[2018-01-26 20:31] bschreck opened #79 "Boolean type conversion does not get called"
If a user supplies specific `variable_types` for a Boolean variable that has an underlying "object" dtype, and that include type information as kwargs, the associated logic in `Entity.entityset_convert_variable_type` does not get called. This is because Booleans  are a subclass of Discrete, and the "object" dtype is in "_categorical_types".

Relevant code is in `Entity.convert_variable_types()`.

[2018-01-30 09:04] ab-anssi opened #80 "Error with 'entity_from_csv'"
I am trying to extract features automatically with featuretools from [Windows event logs available online](https://csr.lanl.gov/data/cyber1/). When I run `entity_from_csv` on the authentication dataset I get an error like "segmentation fault" or "free: invalid pointer".

To reproduce the error :

- [a subset of the authentication dataset](https://drive.google.com/open?id=1gghBnTgTilnkP8pBQUGR2zheL

[2018-01-30 15:01] kmax12 commented on #80
@ab-anssi we are planning to remove `entity_from_csv` in the next release. Can you use pandas directly to load into a dataframe and then try `entity_from_dataframe`? This is what `entity_from_csv` does under the hood and hopefully can help us work around or figure out this error. Let us know if this helps.

[2018-01-31 13:17] Seth-Rothschild opened #81 "Primitive stacking on direct features"
Suppose we have an entityset with a parent entity `E1` and a child entity `E2` and we're building features on `E2` with Deep Feature Synthesis. If `E1` has a categorical variable, it seems that the direct feature of that categorical will be automatically generated and used in resulting feature matrix. However, that feature won't be used for any stacked features.

This becomes a problem when we wan

[2018-02-05 17:49] Seth-Rothschild commented on #81
This is connected to the way that DFS builds features. Direct features are created after the transform features, so they're not available for stacking. In particular, if we look at the `_run_dfs` function in [deep feature synthesis](https://github.com/Featuretools/featuretools/blob/master/featuretools/synthesis/deep_feature_synthesis.py), step 3 is to build transform features while step 5 builds d

[2018-02-05 19:15] #74 closed

[2018-02-05 19:16] kmax12 commented on #80
closing this issue for now. @ab-anssi please create a new issue if you still have problems after this work around.

[2018-02-05 19:16] #80 closed

[2018-02-05 19:16] kmax12 commented on #76
fixed by #78

[2018-02-05 19:16] #76 closed

[2018-02-05 19:35] bschreck opened #83 "EntitySet Concat() does not reindex data"
EntitySets store an internal dictionary mapping the indexes that connect entities across relationships. This speeds up computation time by enabling quicker joins, much like what a database  does. To create these indexes, inside of `EntitySet.add_relationship`, we internally call:

[code]

However, when we concat two EntitySets like this:
[code]

We update the internal dataframes of `es_old` but do

[2018-02-05 19:41] kmax12 commented on #83
adding @rwedge since he worked on `EntitySet.concat`

[2018-02-07 19:45] bschreck opened #85 "DFS errors by stacking on expanding features"
Supplying the NMostCommon and NUnique features to DFS errors, as it stacks NUnique on NMostCommon, which is an expanding feature that returns lists as output. The resulting values supplied to NUnique look like:
[code]
We don't have a good way of handling the stacking of expanding features in pandas_backend, so instead we should just not allow them in DFS.

[2018-02-07 23:10] Seth-Rothschild commented on #85
So right now `NUnique` takes `[Discrete]` as input and `NMostCommon` outputs `Discrete`. It might be reasonable to define a new type that more accurately describes either the input of `NUnique` or the output of `NMostCommon` instead of restricting the stacking directly.

It seems like otherwise this could come up again, so we'd have to explicitly denote a subset of `Discrete` types that's no good

[2018-02-08 00:48] bschreck commented on #85
I agree in theory, but it wouldn't come up again for any feature that has the "expanding" attribute set to True. Instead of expanding, it might make more sense to have something like a ListDiscrete and ListNumeric type.

[2018-02-08 14:55] Sandy4321 opened #87 "Error during install on windows 10"
I do use windows computer and installation fails as I wrote you in twitter
Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\System32>python
Python 3.5.2 |Anaconda custom (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Microsoft Windows [

[2018-02-08 16:10] Sandy4321 opened #88 "pls share written explanation of algorithm"
in order to use your code correctly , it needs to understand algorithm

[2018-02-08 16:10] rwedge commented on #87
Hi Sandy4321.  It looks like one of the package dependencies, msgpack-python, is trying to build from source and failing.  Can you try running the following code in your python interpreter?
[code]

Another question, do you have a version of Microsoft Visual Studio installed on your computer?

[2018-02-08 17:34] bschreck commented on #88
Hi @Sandy4321 .

To learn more about Deep Feature Synthesis (the underlying algorithm we use to generate features), check out this [blog post](https://www.featurelabs.com/blog/deep-feature-synthesis/) and this [paper](https://www.featurelabs.com/wp-content/uploads/2017/12/DSAA_DSM_2015-1.pdf).

[2018-02-08 21:06] Seth-Rothschild commented on #88
To add to what @bschreck said, you can read more about DFS in the relevant [documentation](https://docs.featuretools.com/automated_feature_engineering/afe.html) page and see some examples of how to use it in on the [demos](https://www.featuretools.com/demos) page. For now, I'm going to close the issue, but you should feel free to ask more questions about installing on windows on [your other issue]

[2018-02-08 21:06] #88 closed

[2018-02-12 13:02] Sandy4321 commented on #87
ok I did what you asked and it is the error
Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\System32>python
Python 3.5.2 |Anaconda custom (64-bit)| (default, Jul  5 2016, 11:41:13) [MSC v.1900 64 bit (AMD64)] on win32
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>

[2018-02-12 13:05] Sandy4321 commented on #87
Another question, do you have a version of Microsoft Visual Studio installed on your computer?
yes
![image](https://user-images.githubusercontent.com/11426119/36098036-694a9998-0fcb-11e8-9612-541970b9c25e.png)

[2018-02-12 16:35] rwedge commented on #87
Thanks. Can you also run `conda list` and `pip freeze`?

[2018-02-12 21:25] Sandy4321 commented on #87
Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\System32>conda list
# packages in environment at C:\Users\cde3\Anaconda3:
#
_license                  1.1                      py35_1
_nb_ext_conf              0.3.0                    py35_0
alabaster                 0.7.9                    py35_0
anaconda                  custom

[2018-02-12 21:26] Sandy4321 commented on #87
Microsoft Windows [Version 10.0.16299.125]
(c) 2017 Microsoft Corporation. All rights reserved.

C:\WINDOWS\System32>pip freeze
alabaster==0.7.9
anaconda-clean==1.0
anaconda-client==1.5.1
anaconda-navigator==1.3.1
argcomplete==1.0.0
astroid==1.4.7
astropy==1.2.1
Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.1
bitarray==0.8.1
blaze==0.10.1
bokeh==0.12.2
boto==2.42.0
bot

[2018-02-12 22:35] rwedge commented on #87
Looking at the output of pip freeze the featuretools package has been installed but msgpack-python has not. Building a wheel of the latest version of msgpack-python is failing.  You could try installing the most recent version via conda with `conda install -c conda-forge msgpack-python`.  This seems like it’s not necessarily a Featuretools-specific problem, so I’m going to close this issue. Feel f

[2018-02-12 22:35] #87 closed

[2018-02-14 14:59] #50 closed

[2018-02-14 20:08] bschreck opened #93 "EntitySet._related_instances doesn't respect time_last if no instances provided"
Calling `_related_instances` with no instance ids but with a cutoff time, with start and final as the same entity id:
[code]
does not respect the cutoff time, and instead just returns all instances of the entity
I'm not exactly sure if we intended this, but I doubt it.

It's not currently a problem because we only call `EntitySet._related_instances()` from `EntitySet.get_pandas_data_slice()`, whic

[2018-02-20 17:49] dfayzur opened #98 "Creating feature with multi time step behind"
Thank you very much for the tools.

I would like to build multi time step behind feature from a time stamp. I just checking if there is any example / manual for doing this.

For example, I have the following table:

My table>
row_id, id, time, purchase
1, id1, 2016-01-12 13:00:00, 10
2, id1, 2016-01-12 14:00:00, 15
3, id1, 2016-01-12 15:00:00, 20
4, id1, 2016-01-12 16:00:00, 25
5, id2, 2016-01-12

[2018-02-20 18:02] bschreck commented on #98
Hi Fayzur,

Take a look at the CumMean feature. You can set a "use_previous" flag on it to only use the previous 2 hours of data. In your case, you'd want to set the "group_feature" feature to the "row_id" column.

Something like this:

[code]

However, this will include the value of the row itself. We don't currently have functionality to move the window of time in "use_previous" backward. So row

[2018-02-20 18:07] dfayzur commented on #98
Hello @bschreck,
Thank you very much for quick reply. I really appreciate it.

Per your suggestion, I will implement it and come back to you if I need any more help.

[2018-02-20 18:57] #93 closed

[2018-02-20 23:07] Seth-Rothschild opened #99 "Silent failure in 'cutoff_time'"
It seems that it's possible to pass in a string rather than a time to 'cutoff_time' which blocks `dfs` from using the cutoff time at all without warning. This can show up in the #91 branch in the form of using **all** values rather than valid ones for the cutoff time.

Thanks to @bschreck for finding this and the error in my code that led to it.

[2018-02-21 11:00] rquintino opened #100 "Support/approach for sliding window/multiple snapshots in time"
Hi there!
(first of all huge thx for dfs, vision & tools, superb work)

My question, the predict_next_purchase sample uses a single cut_off time right? But doesnt that remove a lot of data that could help with the purchase prediction? and  we're only using a single day for reference right?

only this data/users -> **_"Using users who had acivity during training_window days before the cutoff_time,

[2018-02-21 13:30] kmax12 commented on #100
Thanks for the question, @rquintino.

Featuretools is designed to handle this exact use case. Read about the `cutoff_time` time argument in our [documentation](https://docs.featuretools.com/automated_feature_engineering/handling_time.html).

It explains how you can pass in multiple time different times to calculate features in a single call to `dfs` or `calculate_feature_matrix`.

The cutoff time

[2018-02-21 15:05] rquintino commented on #100
Hi Max, thanks! (honored really! :) )

yes, read it and was looking into the cutoff_time details. Issue was mainly  the purchase sample does not use this "sliding pattern" right? If so would be interesting a sliding window version for the sample, otherwise don't see much relevance on training a superv model in single cutoff?

(purchase sample single cutoff, notebook /utills.py)

label_times = util

[2018-02-21 15:11] rquintino commented on #100
related: in case you want to merge different training_windows in the same feature set, we would have to call dfs again? See its a dictionary but think to support different entity sets not multiple time windows?(ex: 90 days features+180 days features+36 hours features)

[2018-02-21 15:12] kmax12 commented on #100
Correct, that demo doesn't use that sliding pattern.

If you'd like, you can try to modify the `make_labels` function yourself to create multiple label_times per customer. all you should have to do is modify that one function and the rest will work the same!

Feel free to fork and give it a shot! I'd be happy to take a look if you do :)

[2018-02-21 15:13] kmax12 commented on #100
correct, all rows in a given call need the same `training_window`. I cannot think of use case for a feature matrix to be calculated with different `training_window`s

[2018-02-21 15:38] rquintino commented on #100
will look into the make_labels. thx! probably an easy path can be just map/aggregate make_labels output for a few different sliding cutoff times. Not performance optimized though :), but should work, we'll take a look!
thx!

[2018-02-21 16:02] rquintino commented on #100
question: regarding the purchase sample and adding multiple cutoff times.

How should we provide the (possible) multiple cutofftimes for user in dfs function ? Does it support receiving multiple cutoff_times for same instance_id? (thinking on having a cutoff each month day 20 for that dataset, so users can have more than one cutoff)

Or should we model this, adding new entity and use that one as t

[2018-02-21 16:06] kmax12 commented on #100
yep! that's one of the ways featuretools is so powerful :)

[2018-02-22 14:48] dfayzur opened #101 "Multiple threading version to calculate feature matrix"
Hello,

calculating feature matrix takes reasonable amount of time on single thread, while most of the other threads are doing nothing.

Is it possible to calculate feature matrix in parallel mode with multi threading support?

[2018-02-22 17:18] bschreck commented on #101
Hi @dfayzur, we are currently working on a multicore version in PR #84. It should be merged in in the next few weeks, hopefully sooner. In the meantime, users have had success using [Dask bags](https://dask.pydata.org/en/latest/bag.html) to parallelize `calculate_feature_matrix`. See our conversation with @jeff-hernandez on the [Featuretools Gitter](https://gitter.im/featuretools/featuretools).

[2018-02-22 17:57] dfayzur commented on #101
Thanks @bschreck. I will look to the Gitter.

[2018-02-27 19:18] Seth-Rothschild opened #103 "Make column names in `load_retail` easier to read"
Change the names of the columns in the `load_retail` function as follows:
[code]
and update any connected tests. Suggestions welcome for alternate column names.

[2018-02-28 15:39] #75 closed

[2018-03-02 12:56] unnir opened #105 "featuretools for time series data?"
Hi all,

I was wondering, is it make sense to use featuretools for time series data?

For example:

[code]

[2018-03-02 14:04] Seth-Rothschild commented on #105
Hi @unnir,

It's definitely makes sense to use Featuretools for timeseries data! Here's example code to get you started.
[code]
If there were more data associated with this, it would be important to get [cutoff_times](https://docs.featuretools.com/automated_feature_engineering/handling_time.html) set up before calling DFS. That would ensure that only valid data (as organized by time!) is being use

[2018-03-02 14:04] #105 closed

[2018-03-02 14:24] unnir commented on #105
Wow, thank you for your answer!

[2018-03-12 22:15] #103 closed

[2018-03-13 02:19] TuSKan opened #109 "There is a plan for R version?"
He guys, I would like to know if there is a plan to have this great tools for a R software.

Tks

[2018-03-13 15:21] Seth-Rothschild commented on #109
Hi @TuSKan,

We don't currently have plans to rewrite Featuretools in R. It does seem that there are packages available to call python functions and scripts. If that's something you're interested in you should definitely try it out. Let us know if you get stuck on [Stack Overflow](https://stackoverflow.com/questions/tagged/featuretools) with the `featuretools` and `R` tags.

I'm going to close thi

[2018-03-13 15:21] #109 closed

[2018-03-18 21:24] Sandy4321 commented on #87
but which version of Visual Studio needed?

[2018-03-19 16:36] #83 closed

[2018-03-21 15:22] Seth-Rothschild opened #112 "Issue with `dask==0.15.2`"
Since `dask` isn't currently a requirement `featuretools` won't check on install which version you're using. This causes the line
[code]
to error because of the optional requirement in `load_flight` when using `dask==0.15.2`.

There are two possible resolutions:
1. If we're planning on going back to `dask` for parallelization we can put the appropriate line in `requirements.txt`
2. If we're not pl

[2018-03-21 17:35] #112 closed

[2018-03-22 20:04] kmax12 opened #115 "Allow strings to specify primitives to be used by Deep Feature Synthesis"
Currently, you have to import primitives before passing them to `dfs` as follows

[code]

we should support passing the primitives in as strings

[code]

[2018-03-23 16:22] Seth-Rothschild opened #116 "Tuple handling in normalize entity"
I get the following error running `dfs` after normalizing my entityset by an index which is a tuple. MWE is forthcoming, but the `normalize_entity` kwarg `convert_links_to_integers=True` avoids the error.

Thanks to @bschreck for pointing me to `convert_links_to_integers`
[code]

[2018-03-23 22:49] Seth-Rothschild commented on #116
Haven't been able to make a simple example with a different dataset. The error is coming from `query_by_values` in the following line:
[code]
where `instance_vals` has some values that are not in `self.df`. Specifically:
[code]

[2018-03-25 15:15] SauceCat commented on #60
Hi @kmax12,

I encountered the same error when I tried to use training_window in dfs function and I fixed it by removing the '.values' in 'getattr(pd_index, time_unit).values'.  :)

[2018-03-26 03:51] zhxt95 opened #119 "Why not build Entity features after Direct features？"
I find that direct features are now built at last step in the realization of DFS algorithm, which causes the problem in #81 .
However, I've also read the paper ‘Deep Feature Synthesis: Towards Automating DataScience Endeavors’. In this paper, you said in Section Ⅱ.C  that "We must first synthesize rfeat and dfeat features so we can apply efeat feature to the results." Actually I think the idea in

[2018-03-26 13:32] Seth-Rothschild commented on #60
Thanks @SauceCat! I can now reproduce this with pandas version 0.19.2. We actually require pandas `pandas>=0.20.3` in our `requirements.txt`. Is it possible something else that was installed after featuretools overwrote the pandas you were using?

Anyways, you should be able to fix by running `pip install 'pandas>=0.20.3`.

[2018-03-26 14:11] SauceCat commented on #60
@Seth-Rothschild  yes, exactly. Thanks!

[2018-03-26 16:55] kmax12 commented on #119
Hi @zhxt95,

Thanks for the interesting question! The reason for the ordering in Featuretools is to avoid creating duplicate features. If we were to create the direct features before creating the transform features, a primitive could be applied to make same feature in two different ways.

As an example, suppose we have two entities `transactions` and `customers` and a feature `date of birth` in `c

[2018-03-27 03:12] zhxt95 commented on #119
Well, as you said, duplicate features are indeed annoying problem. Yet I still think it isnecessary to build direct features first.
For example, suppose there are two entities. Entity `customer` contains features `job` and `outgoing`  each week  while entity `payroll` tells us the `salary` of each job.  If we want to know whether a customer's incoming can cover his outgoing, a feature like `Subtra

[2018-03-27 03:53] zhxt95 commented on #119
I've noticed that the situation I mentioned above is using a trans_primitives with two input features  of which one is a direct feature and another is not.
For this kind of situation, duplicating will not be a problem any more.
So I think build efeat after dfeat and use trans only for this situation may possible be a better way.

[2018-03-27 15:28] kmax12 commented on #119
@zhxt95 That example makes sense. We'd be happy to extend `ft.dfs` to handle that case. Are you interested in attempting to make a PR with the change you're suggesting?

Basically, the PR would swap the order of building transform and direct features, but then add in additional logic to avoid features that would calculate the same thing. The primary challenge here is to make that logic as straight

[2018-03-28 09:40] zhxt95 commented on #119
I've made #123 as a solution, however it seems like something goes wrong and a check is failed. What should I do now to handle it?

[2018-03-30 19:17] rwedge opened #125 "Integer time index in entity turned into timestamp in feature matrix index"
When calculating features where the target entity uses an integer-based time index, the time index for the resulting feature matrix is in datetime format.  As a side effect, additional columns in the `cutoff_time` dataframe are not passed correctly.

[2018-04-02 07:56] zhxt95 opened #127 "What does dfs_filter do and what's the intention to use it?"
I find that the `traversal filter` has been used in dfs while recursively building forward and backward dfs. But I don't understand what this filter really do and I haven't find any docs or annotation that explained it.
It seems like this filter makes some check on entity's variable count and unique_percent, which is confusing to me. Why do we need to do  this kind of check in recursively building

[2018-04-03 20:34] kmax12 commented on #127
The idea behind DFS filters was to write rules that control (1) the exploration of entities (e.g `TraverseUp`) and the creation of features (e.g `LimitModeUniques`) using plugin architecture. Since implementing it we haven't used it extensively or made it available to end users. It should be thought of as an internal implementation detail.

We may refactor in future, but such work wouldn't impact

[2018-04-03 20:34] #127 closed

[2018-04-06 13:02] alexandrnikitin opened #130 "Why does featuretools use first column as an index but not the pandas index field?"
Hi,

Pandas creates an implicit index if one isn't specified as a column. What I want to achieve is to use the pandas' index in `featuretools` but it can't be passed as a name in `index` argument. `featuretools` uses first column by default and that part is not clear to me. Why does `featuretools` use first column as an index but not the pandas index field? How to let `featuretools` use the index

[2018-04-06 14:51] kmax12 commented on #125
fixed by #128

[2018-04-06 14:51] #125 closed

[2018-04-06 14:51] Seth-Rothschild commented on #130
@alexandrnikitin to integrate your data with Featuretools, simple call `.reset_index()` on your dataframe. This will turn the index into a regular column in your dataframe. See the pandas documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.reset_index.html) for an example of how this works.

We treat index in the same way as other columns because it can be

[2018-04-06 14:51] #130 closed

[2018-04-18 15:04] dylancsumner opened #132 "Null values for cutoff time"
Sometimes we may have null values for the cutoff time. Consider the case where we are trying to generate features to predict whether or not we will sell a product to a customer. We want to exclude all data after the sale. So for customer we sold to, there is one point in time where they became a 'sold to' customer. But for customers we did not sell to, there is no one single point where they becam

[2018-04-18 16:35] Seth-Rothschild commented on #99
Closed with #128

[2018-04-18 16:35] #99 closed

[2018-04-27 17:23] #116 closed, assigned to nobody

[2018-05-04 09:00] hibayesian opened #138 "Generate new features by crossing features in a table?"
Feature crossing is a very common technique to find the nonlinear relationships in the dataset.
Can I use featuretool to generate new features by crossing features in a table? And How?

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged

[2018-05-07 14:32] Seth-Rothschild commented on #138
Hi @hibayesian,

Thanks for the interesting question! I’m closing this issue as it’s not a bug or feature request, but feel free to ask this on Stack Overflow for a detailed answer.

[2018-05-07 14:32] #138 closed

[2018-05-15 14:46] RogerTangos opened #150 "datetime.date in utils.wrangle._check_time_type"
Should the [utils.wrangle._check_time_type](https://github.com/Featuretools/featuretools/blob/master/featuretools/utils/wrangle.py#L165) include checking for `datetime.date`? If so, would you mind if I made a PR for it?

I apologize if this is a naive question. I recently began working with a not-quite-complete demo notebook from someone in Kalyan's group, and this is my first time working with Fe

[2018-05-15 15:07] anordin95 commented on #150
I don't run into this bug when I run the demos. I agree there could be more types for time type checking in the function check_time_type, but I'll also push my most recent demos code to Trane-Aux for you.

[2018-05-28 01:02] Owenscu opened #158 "LookupError: Time index not found in dataframe"
### Bug/Feature Request Description
(replace this text with your issue)
When i run quick start, i met this issue.
      2 feature_matrix_customers,features_defs = ft.dfs(entities = entities,
      3                                                 relationships = relationships,
----> 4                                                 target_entity = "customers")
      5 feature_matrix_customers
----

[2018-05-28 14:54] Seth-Rothschild commented on #158
Hi @Owenscu,

I'm looking into your issue now, but I was unable to reproduce it. Would you be able to send the full stack trace and which Featuretools version you're using? (you can get the version by running `ft.__version__`)

[2018-06-04 23:41] ratchetwrench opened #163 "Scikit-Learn Pipelines and FeatureUnion"
### Bug/Feature Request Description

The requested feature is to be able to use the feature matrix transformation from with a Scikit-Learn pipeline. Something like the below:

[code]
...then when ```pipe.predict(X_test)``` is called the ```transform()``` method encodes the new data the same as:
[code]
So that, at the end of the sklearn pipeline the estimator can be called.

-----
*Issues created h

[2018-06-05 22:46] kmax12 commented on #163
Thanks for the feature request! We love scikit-learn over here, so we'll definitely consider this.

One challenge is that sklearn expects the input feature matrix, `X`, to be passed to the pipeline, while featuretools needs the `EntitySet` (which is multiple tables) and the list of instance ids you want to build features for. Essentially, we have two parameters to pass since we work with data befo

[2018-06-14 16:07] rwedge commented on #43
Fixed by #166

[2018-06-14 16:07] #43 closed

[2018-06-20 22:57] bschreck opened #172 "Custom primitive docstrings don't make it into the html documentation"
### Bug/Feature Request Description

In the API reference page of the docs (generated by docs/source/api_reference.rst), custom primitives have their description as simply "alias of `python.path.to.primitive`", rather than their actual description. I'm referring specifically Min, which we define using `make_agg_primitive()`.

-----
*Issues created here on Github are for bugs or feature requests. F

[2018-06-20 23:01] Seth-Rothschild commented on #172
Interesting. Same with `IsIn` which is made with `make_trans_primitive`.

[2018-06-25 15:57] doncat99 opened #174 "Multiprocessing feature is not supported on MacOS"
### Bug/Feature Request Description

Too bad that Multiprocessing feature is not supported on MacOS

  File "/Users/don/anaconda/lib/python3.6/site-packages/featuretools/synthesis/dfs.py", line 213, in dfs
    verbose=verbose)
  File "/Users/don/anaconda/lib/python3.6/site-packages/featuretools/computational_backends/calculate_feature_matrix.py", line 238, in calculate_feature_matrix
    dask_kwar

[2018-06-25 19:03] rwedge commented on #174
Hi @doncat99,
Thanks for the bug report!  I've opened a pull request for this issue.  Once it gets merged in you could use the Featuretools master branch until the next official release.  In the meantime, a workaround for this issue would be to use the `dask_kwargs` option instead of `n_jobs`.  Creating a dask.distributed LocalCluster object and passing it in via `dask_kwargs['cluster']` should av

[2018-06-25 20:44] kmax12 commented on #174
@doncat99 just merged #176, so the fix is now in master. closing this for now.

[2018-06-25 20:44] #174 closed

[2018-06-26 12:35] Msarang7 commented on #158
I am facing the same issue @kmax12 .....my version is 0.2.0

[2018-06-26 13:21] kmax12 commented on #158
@Msarang7 can you send the code you are running, the operating system you're using, and the output of `pip freeze`?

[2018-06-26 14:51] Msarang7 commented on #158
I was running the following command from the documentation of featuretools

=========================================================================

feature_matrix_customers, features_defs = ft.dfs(entities=entities, relationships=relationships,                                                  target_entity="customers")

=========================================================================

[2018-06-26 14:56] kmax12 commented on #158
I am unable to reproduce on OSX. Can you share the stack trace?

[2018-06-26 15:05] Msarang7 commented on #158
@kmax12 After restarting the PC the commands are running...no idea how

[2018-06-26 15:05] Msarang7 commented on #158
Thanks.

[2018-06-29 10:15] JYLFamily opened #178 "why calculate this features?"
Hi featuretools team:

Why featuretools calculate below features?
Like std(SK_ID_PREV)

ft.Relationship(
    self.__es["previous_application"]["SK_ID_PREV"],
    self.__es["installments_payments"]["SK_ID_PREV"]
)

Thanks

[2018-06-29 15:19] kmax12 commented on #178
@JYLFamily can you provide more detail in your question so we can better answer it? We recommend sharing the dataset and code you are working with for us to best provide help. Additionally, please post this question on StackOverflow with the Featuretools tag (https://stackoverflow.com/questions/tagged/featuretools). That way we can organize answers for everyone to access.

I'm going to close this

[2018-06-29 15:19] #178 closed

[2018-07-02 07:46] Ingvar-Y opened #179 "Update conda package"
### Bug/Feature Request Description
Featuretools package on featuretools conda channel still isn't up to v0.2.0, could you kindly update it?

Package for Windows would be a nice bonus.

[2018-07-03 01:00] TuSKan commented on #100
Hi @kmax12 , I have the same question.
You sad: _correct, all rows in a given call need the same training_window. I cannot think of use case for a feature matrix to be calculated with different training_windows_
Thinking on this way: I don't know the optimum window size (_training_window_) could be for example 6, 3 or 1 months before cutoff_time. I would like to test all this possibilities.
How ca

[2018-07-03 15:27] kmax12 commented on #100
@TuSKan that makes sense. One thing you can do is run `ft.calculate_feature_matrix` multiple times with different training windows. Then, you can either train models on the different feature matrices independently or merge them into one feature matrix.

[2018-07-03 16:55] kmax12 opened #182 "SPIKE - Workflow for adding and removing primitives"
A common workflow in Featuretools is to add and remove primitives to find an optimal set. See this StackOverflow [answer](https://stackoverflow.com/questions/50527392/how-to-decide-which-primitives-to-use-for-dfs) for more details.

As a user iterates through primitive options, they have to rerun `ft.dfs` with the different inputs. This means the feature calculations are often repeated. To improve

[2018-07-04 09:23] doncat99 opened #183 "distribute error"
### Bug/Feature Request Description

[code]

can anyone explain why the below error occurred?

[code]

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.com/#get-he

[2018-07-05 14:53] rwedge commented on #183
Hi @doncat99,

I'll see if I can help you debug.  The 'replicate' method is the step where copies of the EntitySet and features are sent to each of the workers.  Since copying the EntitySet means more memory use, the error might be related to that.  Are you able to lower the number of n_jobs and see if the error persists?

If you have the bokeh python module installed you can use the distributed `

[2018-07-05 15:27] antontarasenko opened #184 "Setting cutoff_time to values lower than the row's current time_index fails aggregation"
### Bug Description

I'm generating historical features for the current row. For example, the number of transactions made in the last hour during a session.

I set `cutoff_time` as `time_index value - 1 second`, so I expect the features to be based on historical data minus the current row. This allows including the response variable from historical rows.

The problem is, when this parameter does n

[2018-07-05 20:38] kmax12 commented on #184
@antontarasenko This is intended behavior for this case, but I put up an [answer on StackOverflow](https://stackoverflow.com/questions/51191665/excluding-the-current-row-from-feature-engineering-in-python-featuretools) to your question.

I'm going to close this issue, but we can continue discussing on StackOverflow.

Thanks for posting this question. We're happy to help

[2018-07-05 20:38] #184 closed

[2018-07-05 23:41] WillKoehrsen opened #185 "BrokenPipeError when using more than one job"
When trying to run `dfs` on a fairly large entityset, whenever `n_jobs` is more than 1, I receive the following error:

"BrokenPipeError: [Errno 32] Broken pipe"

I'm running Red Hat Enterprise Linux Server release 7.3. My machine has 20 cores and 64 total GB of memory. I'm not sure if the issue is with my hardware or with featuretools.

The complete traceback is below:

[code]

Sorry to leave you

[2018-07-06 13:03] Al2a2d2m opened #186 "time_index error"
### Bug/Feature Request Description
i used the same dataset on the release and i get no problem.
I also checked my data more than one time.
date format : 2017-03-11

``ValueError                                Traceback (most recent call last)
pandas/_libs/tslib.pyx in pandas._libs.tslib.array_to_datetime (pandas\_libs\tslib.c:44294)()

pandas/_libs/src/datetime.pxd in datetime._string_to_dts (pan

[2018-07-06 13:13] kmax12 commented on #186
@Al2a2d2m can you make sure your entire `DT_DPEC` column is a pandas datetime type before loading it in to Featuretools? if you need to, you can run

[code]

Let me know if this works.

[2018-07-06 13:15] kmax12 commented on #185
Thanks, we'll look into this and report back.

[2018-07-06 13:33] Al2a2d2m commented on #186
thank you kmax12, I already did that and I get the same problem. It's kind of related to the size of the dataframe:
with small dataframe (2 columns) its ok no error,  with bigger one (100 columns in my case i get this error)
i appreciate your help kmax12 thx again .

[2018-07-06 13:51] kmax12 commented on #186
@Al2a2d2m can you share the file you are trying to load?

[2018-07-06 14:17] Al2a2d2m commented on #186
@kmax12 I can't sorry (it contains  personnal data):
+ its 300MB file with 100 columns, 2 date columns and roughly a million rows. mainly of float type (prices)

[2018-07-06 14:29] Al2a2d2m commented on #186
Ok I figured it out. When I create the entity set, FT tries automatically to convert some field to date (columns of zipcodes) i dont know why.(error : ValueError: Month out of range in datetime string "49" see below).  The error disapperar when i force the type of that particular field to categorical using variable_types=...
Every seem to be ok with 100 columns.
Really sorry for this and thank you

[2018-07-06 17:11] kmax12 commented on #186
glad you were able to figure it out. closing this for now

[2018-07-06 17:11] #186 closed

[2018-07-06 17:40] rwedge commented on #185
Hi Will,

Could you provide a list of installed python packages in the environment you are using (pip freeze)?  I'm also curious when during the computation this error occurs.  Could you provide output up until the error occurs as well?

[2018-07-07 17:19] WillKoehrsen commented on #185
Before the error occurs, the only output is `Built 3595 features` (or however many features I'm trying to create). The progress bar never shows up.

I did notice that when saving the `EntitySet` as a pickle file, it is over 5 GB. Each core on the machine I'm using has ~ 3 GB of RAM, so could this be the issue? If I understand correctly, for parallelization, the entire entityset is copied to each c

[2018-07-09 20:11] rwedge commented on #185
Yes, not having enough memory per core could be causing this issue.  You could try lowering the number of cores used and increasing the memory available to each worker.  The [web interface](https://distributed.readthedocs.io/en/latest/web.html) would probably help you figure how much memory each worker needs.  You would need to install bokeh and add 'diagnostics_port' as an entry in the `dask_kwar

[2018-07-10 00:51] WillKoehrsen commented on #185
Changing the number of jobs from 16 to 2 worked. I'm willing to say this was completely a system issue and not a `featuretools` bug. It might be helpful though to have some indication if a `dfs` call will consume too much memory. Is it possible to check the size of the entityset (using `sys.getsizeof`), the available memory resources, and then provide a warning if the resources will be exceeded?

[2018-07-11 21:09] rwedge opened #188 "Test for create_client_and_cluster assumes machine has at least 3 cores"
https://github.com/Featuretools/featuretools/blob/8cba10b6cf861fee793db8b092a81187b026d092/featuretools/tests/computational_backend/test_calculate_feature_matrix.py#L861-L864

Test case should be looked at for places where number of cores could lead to different results.

[2018-07-12 20:07] #188 closed

[2018-07-13 16:00] WillKoehrsen opened #190 "Passing in a string to `dfs` instead of a list silently ignores argument"
When running `dfs`, I passed in a  single entity to ignore as a string:

[code]

This results in features being generated from `app_test` because `ignore_entities` is a string. The documentation does specify that `ignore_entities` must be a list (even when using only one entity), but there is no warning raised when the argument is not a list. Passing in a single entity as a list works:

[code]
A w

[2018-07-16 09:48] freefallzhou opened #191 "remove the default datetime type conversion"
### Feature Request Description

When create an entity from dataframe, by default, featuretools will try to convert every non-type-specified column to date_time.

This operation based on pandas' to_datetime  function. see featuretools/entityset/entity.py line 331.

Cause this function will always throw exceptions when trying to convert text that may looks like date string in some situation(such as

[2018-07-16 19:41] dylanking42 commented on #54
I would like to officially ask for this, or even just have a better description of what "association entity" would mean.

A full fledged example like the demo notebooks is not super necessary, but I would like to see a simple example of the many-to-many organization.

[2018-07-20 23:58] xinbinhuang opened #194 "Wrong Exception Message with `normalize_entity`"
The problem seems to result from passing a `string` rather than a `list` to the argument `addtional_variables`, which will raise a `TypeError`. But I think the exception message should be `TypeError: must be list, not str`, instead of the opposite.

[code]

[code]

[2018-07-22 23:10] kmax12 commented on #194
@xinbinhuang you are correct. would you be interested in submitting a pull request to fix this? It would be very much appreciated!

[2018-07-23 00:49] xinbinhuang commented on #194
@kmax12 Sure! I will review the code and make a pull request in the next a few days.

[2018-07-23 02:41] xinbinhuang commented on #194
@kmax12 #195 I just made a PR, and the problem results from adding `str` with `list`.

[code]
Please let me know if there are any problems.

[2018-07-23 04:12] kmax12 commented on #194
thanks! we will review first thing this upcoming week.

[2018-07-23 15:21] kmax12 commented on #191
@freefallzhou this make sense and a change we are considering.

For the time being, you can specify the variable type of a column when calling `entity_from_dataframe` to avoid Featuretools trying to infer the variable type.

[2018-08-01 10:25] FaizySaeed opened #197 "Issue installing featuretools"
I am trying to install featuretools using:

pip install featuretools

I already have almost all the packages installed that are commonly used for data analysis. However, when I try to run the pip command, I get this error:

Cannot uninstall 'cloudpickle': It is a distutils installed project and thus we cannot accurately determine which files belong to it which would lead to only a partial uninstal

[2018-08-01 14:30] WillKoehrsen opened #199 "Variable types not respected when normalizing entities"
When trying to normalize an entity, I specify `additional_variables` along with variable types for these variables in the `normalize_entity` call. However, the variable types are not respected. They keep the same type as the type in the base entity.

This example is using the retail data:

[code]
The `description` column is initially categorical:

`description (dtype: categorical)`

However, when

[2018-08-03 06:10] chappers commented on #163
This can sort of be done with a wrapper, though there are obvious downsides...

[code]

[2018-08-03 06:37] chappers opened #202 "to parquet does not work with default entityset"
### Bug/Feature Request Description

`to_parquet` does not work off entitysets consistently.

To reproduce:

[code]

Errors out with:

[code]

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentatio

[2018-08-03 06:44] chappers opened #203 "Spark Example for Featuretools"
### Bug/Feature Request Description

In notebooks such as here: https://github.com/Featuretools/predict-next-purchase/blob/master/Tutorial.ipynb and documentation: https://docs.featuretools.com/usage_tips/scaling.html

It mentions the ability to scale to Spark. Could an example be provided like it was for dask here: https://github.com/Featuretools/predict-next-purchase?

-----
*Issues created here

[2018-08-03 13:33] kmax12 commented on #163
very cool @chappers!

Two thoughts

* right now if you called `fit` followed by `transform` the feature matrix would get calculated twice. Perhaps it makes more sense to call `dfs` with `features_only=True` in `fit` and then only do the calculations inside of `transform`. This would mean getting rid of the internal encode features step. I think that is okay though, since you can do that in a latte

[2018-08-03 13:59] kmax12 commented on #202
@chappers thanks for the report. this is fixed in #204 and will go out in the next release

[2018-08-03 14:02] kmax12 commented on #197
@FaizySaeed can you share the versions of your operating system, python installation, pip? Please also run `pip freeze` and share the output. Thanks!

[2018-08-03 14:05] kmax12 commented on #203
@chappers thanks for the request. this is something on our to do list.

[2018-08-03 21:59] #202 closed

[2018-08-03 22:59] chappers commented on #163
@kmax12

I think the typical scikit interface is something like:

[code]

I think using this pattern won't break whatever is going on...

[2018-08-03 23:01] kmax12 commented on #163
the problem is the cutoff times will be different will be different for the training set and testing set, so it's hard to put in the init.

[2018-08-04 00:08] chappers commented on #163
cutoff time probably needs to be part of the entityset definition to be `sklearn`-ish otherwise it'll have to be `kwargs` in the transform, which although is permissible, may violate peoples expectations of the `transform` method.

[code]

[2018-08-06 11:52] FaizySaeed commented on #197
Operating System:
Windows 10
Version 1803 (OS Build 17134.165)

Pip Version:
pip 18.0

Python Version:
Python 3.6.1 :: Anaconda 4.4.0 (64-bit)

Pip Freeze Output:
alabaster==0.7.10
anaconda-client==1.6.3
anaconda-navigator==1.6.2
anaconda-project==0.6.0
asn1crypto==0.22.0
astroid==1.4.9
astropy==1.3.2
Babel==2.4.0
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
blaz

[2018-08-06 13:11] kmax12 commented on #197
@FaizySaeed can you try to manually uninstall cloudpickle and then reinstall featuretools?

[2018-08-06 13:18] FaizySaeed commented on #197
Shouldn't it be that if we have a package installed we should use that rather than first uninstalling the package and then re-installing. Manually it's quite messy to uninstall a package.

[2018-08-06 13:59] Seth-Rothschild commented on #199
@kmax12 @WillKoehrsen I think the only place you wouldn't be sure are the `Categorical`/`Index` column of the new entity, which gets handled automatically when you run `normalize_entity` anyways.

Basically I guess the argument comes down to if we want users determining semantic types as they build new entities, or all at once when they load in the data. Personally I prefer doing the latter, but I

[2018-08-06 14:45] kmax12 commented on #197
@FaizySaeed yes, it's not ideal. Once we verify that approach works, we can look into how to resolve it more effectively.

[2018-08-06 14:48] kmax12 commented on #199
I am in agreement that a user should do it all at once when they load in data.

There are ways to change the variable types after creating an entity, but we don't advertise it in the public API or encourage using.

[2018-08-06 14:55] WillKoehrsen commented on #199
It's hard to think of a non-contrived example where I'd want to change the variable types after creating the base entity. Maybe it would be best to not have the `variable_types` argument in `normalize_entity`.

Another issue I've noticed is that you can assign to a variable type but nothing changes in the Entity Set. For example:

`es['products']['description'].variable_type = ft.variable_types.Te

[2018-08-06 20:56] #199 closed

[2018-08-08 17:25] ajing commented on #203
Is there any quick hacky way to use featuretools with spark?

[2018-08-09 18:57] #190 closed

[2018-08-09 18:57] #185 closed

[2018-08-11 14:12] tropicalpb commented on #203
i too request a spark implementation, preferably with java api also

[2018-08-13 15:25] kmax12 commented on #203
@ajing we've had success integrating with pyspark. the basic approach would be to partition your data using spark dataframes and then map each partition to an entityset and `calculate_feature_matrix(..)` call. Then you can write out a feature matrix for each partition.

there is a basic outline of this approach using Dask in our Predict Next Purchase repo. See the end of the notebook here: https:/

[2018-08-17 18:00] kmax12 opened #218 "Remove convert_links_to_integers from featuretools"
Now that we support categorical dtypes within featuretools, this option to normalize entity is unnecessary

[2018-08-17 18:30] Seth-Rothschild commented on #218
The change impacts the tests in [test_last_time_index](https://github.com/Featuretools/featuretools/blob/master/featuretools/tests/entityset_tests/test_last_time_index.py#L18). In particular, [test_parent](https://github.com/Featuretools/featuretools/blob/master/featuretools/tests/entityset_tests/test_last_time_index.py#L98) and the test afterwards fail. Investigating now.

[2018-08-21 02:02] hcz28 commented on #203
I need that too, thanks

[2018-08-21 02:53] Seth-Rothschild commented on #218
closing via #219

[2018-08-21 02:53] #218 closed

[2018-08-21 14:33] Seth-Rothschild opened #222 "Add conda install instructions"
### Feature Request Description
Need to add that featuretools can be installed from the featuretools channel via `conda install -c featuretools featuretools`. We might also consider changing our recommendation from `pip install featuretools` to `python -m pip install featuretools` (see [here](https://stackoverflow.com/questions/25749621/whats-the-difference-between-pip-install-and-python-m-pip-ins

[2018-08-21 15:00] Ingvar-Y commented on #179
I see that release v0.2.2 is already available on conda and it is available for all systems. I guess I can close this issue now. Thanks!

[2018-08-21 15:00] #179 closed

[2018-08-21 15:47] Seth-Rothschild commented on #179
Thanks @Ingvar-Y! Let us know if you run into any unexpected issues using the Windows version.

[2018-08-21 18:43] #222 closed

[2018-08-24 12:59] ian-perry-ironnet opened #230 "ft.calculate_feature_matrix takes a long time"
### Bug/Feature Request Description
I'm currently using featuretools to transform raw data I have into a format that can be used with scikit learn models.  For the training portion this works great, but when it's time to transform single data points to get predictions, the process seems too slow for the amount of data it's actually operating on.  Specifically ft.calculate_feature_matrix takes abou

[2018-08-24 17:40] kmax12 commented on #230
@ian-perry-ironnet thanks for the details here. is it possible to send the data and code you're working with and we can help you debug more directly?

if it is a private dataset, you can send an email to help@featuretools.com with that we discuss how to do it securely.

[2018-08-27 15:11] hoyeunglee opened #232 "ValueError: mismatch in size of old and new data-descriptor"
how to solve ValueError: mismatch in size of old and new data-descriptor ?

df_date, df_open, df_high, df_low, df_close, df_volume = df[["Date"]], df[["Open","Date"]], df[["High","Date"]],df[["Low","Date"]],df[["Close","Date"]],df[["Volume","Date"]]

esDate = ft.EntitySet("DateSet")
esOpen = ft.EntitySet("OpenSet")
esHigh = ft.EntitySet("HighSet")
esLow = ft.EntitySet("LowSet")
esClose = ft.Entity

[2018-08-27 16:47] kmax12 commented on #232
thanks for trying featuretools. in order for us to help, we need more information to reproduce. can you do these 3 things

1. post the complete stacktrace, as well as the line where it occurs
2. Remove any code that is not necessary to reproduce the error.
3. If possible, share the data? you can also email it to us at help@featuretools.com

[2018-08-29 15:35] ian-perry-ironnet opened #237 "New in version 0.3.0 - AttributeError: 'functools.partial' object has no attribute '__name__'"
### Bug/Feature Request Description
Prior to the upgrade everything was running smoothly.  As soon as I upgraded and ran the same code, I ran into

[code]

This article might be related [http://louistiao.me/posts/adding-__name__-and-__doc__-attributes-to-functoolspartial-objects/](http://louistiao.me/posts/adding-__name__-and-__doc__-attributes-to-functoolspartial-objects/)

[2018-08-29 15:40] kmax12 commented on #237
@ian-perry-ironnet are you loading features that were saved in a previous version of Featuretools?

[2018-08-29 15:44] kmax12 commented on #232
Closing for now

[2018-08-29 15:44] #232 closed

[2018-08-29 16:05] ian-perry-ironnet commented on #237
Ah yes that fixed it, thank you!

[2018-08-29 16:05] #237 closed

[2018-08-30 13:32] kmax12 commented on #230
@ian-perry-ironnet did the latest release resolve any of these issues? if not, can you get in touch with us by email or message me directly on gitter (https://gitter.im/featuretools/featuretools) so we can help?

[2018-09-02 03:48] robertdefilippi opened #239 "interesting_values 'not in index'"
Hello,

I might be running into a syntax issue with the `interesting_values` parameter, but I wanted to make sure I was doing things correctly.

As an example, I've created thee interesting_values in my `entity_set` as such
`entity_set["clients"]["city"].interesting_values = ['New York', 'Los Angeles', 'Chicago']`

And included these where_primatives in my `dfs` when doing the initial calculation:

[2018-09-03 16:52] kmax12 commented on #239
@robertdefilippi this does look like a potential bug.

are you able to share a piece of runnable code/data that reproduces it? you can email help@featuretools.com if it is something you can't share publicly.

[2018-09-04 22:21] Tagar opened #240 "`pip install featuretools` breaks conda.cli dependency"
### Bug Request Description

`conda` became broken after I installed featuretools package with pip into that a conda envrionment.

[code]
Any ideas how to fix this?

[2018-09-04 22:24] Tagar opened #241 "Please publish `featuretools` into conda-forge"
### Feature Request Description

Please create conda-forge `featuretools` package, so conda users can seemlessly install Featuretools into conda environments.

See https://github.com/ContinuumIO/anaconda-issues/issues/10030#event-1826365544 for details.

Thank you.

[2018-09-04 23:09] kodonnell opened #242 "Clarify docs on 'Setting a Last Time Index'"
Specifically [here](https://docs.featuretools.com/automated_feature_engineering/handling_time.html#setting-a-last-time-index):

Why do we need the session times at all? Can't I just say the below (pseudocode)?

[code]

I.e. just "count all sessions that had any transaction during the training window".

Maybe, what's meant to be conveyed is that, say I have a transaction at 1pm and 4pm, but my wind

[2018-09-05 15:29] Seth-Rothschild opened #244 "Update Handling Time Docs"
### Feature Request Description
We should add to the handling time docs so that they're a better resource for users. This includes
- Add a substantial section on what `time_index` means (with retail example)
- Add a section for `secondary_time_index` with the flight example
- Add example with same index but multiple time indices
- Emphasize that cutoff times are an instruction list and limit the r

[2018-09-05 16:35] FaizySaeed commented on #197
I found another way around it by using virtual environment. It's quite handy and worked for me. Instead of handling all the libraries, I simply created a separate virtual environment and installed featuretools in it.

[2018-09-05 16:41] kmax12 commented on #197
@FaizySaeed great! closing this issue.

[2018-09-05 16:41] #197 closed

[2018-09-05 19:29] Tagar opened #246 "CondaError: UnicodeDecodeError('ascii', '/info/test/featuretools/tests/integration_data/re\xcc\x81gions.csv', 49, 50, 'ordinal not in range(128)')"
### Bug/Feature Request Description

conda install for Feature Tools is failing with below error.

it seems one of csv files in disro has a special character in its name

[code]

[2018-09-05 19:32] Tagar commented on #246
There are two files with letter `é` in file names

https://github.com/Featuretools/featuretools/commit/47ad08cb35af0dfb079316db58b9ca77d648c0f5#diff-7be997c86272a50e15c1ba0f43746ad9

https://github.com/Featuretools/featuretools/commit/47ad08cb35af0dfb079316db58b9ca77d648c0f5#diff-930687cdfa22045db029e4142ceb739d

`régions.csv`
and `régions_int.csv`

Is this a mistake? I think those files are missi

[2018-09-05 19:53] Tagar commented on #241
Apparently featuretools is available on its own channel, so we can close this ticket.
(would be nice this to be added to conda-forge or anaconda channels though so it's easier to find)

I wasn't able to install featuretools through conda anyway, here's new issue: https://github.com/Featuretools/featuretools/issues/246

Thank you.

[2018-09-05 20:00] Tagar commented on #246
https://github.com/Featuretools/featuretools/tree/master/featuretools/tests/integration_data
shows last commit in that directory was on Jun 4th where those csv files were removed https://github.com/Featuretools/featuretools/commit/47ad08cb35af0dfb079316db58b9ca77d648c0f5 , although we're trying to install featuretools==0.3.0 which was released 9 days ago..
Not sure how those files showed up in the

[2018-09-05 20:03] Tagar commented on #246
Unicode file names with Python 2 and conda are not supported.
See https://github.com/conda/conda/issues/1180

[2018-09-05 20:14] Tagar commented on #246
I see those csv files with é in their name in conda package under \info\test\featuretools\tests\integration_data

[2018-09-05 22:11] Seth-Rothschild commented on #240
I was unable to reproduce this issue, and suspect the complaint will be resolved once conda install with `conda install -c featuretools featuretools` is fixed (#246). Closing.

[2018-09-05 22:11] #240 closed

[2018-09-05 22:15] Tagar commented on #240
Thanks for looking into this @Seth-Rothschild

[2018-09-05 22:15] Seth-Rothschild commented on #241
As in your other issue (#246), it's currently possible to install via conda with `conda install -c featuretools featuretools`.

We're still considering adding the package to conda forge, but it's low priority since there is another provided option.

[2018-09-05 22:27] Seth-Rothschild commented on #246
Looking into this, it seems like I included the output of the unit tests in the conda build, which is an easy fix. You're welcome to build it yourself from source (use `conda build .`), and I'll upload the rebuilt 2.7 package tomorrow.

[2018-09-05 23:33] Tagar commented on #246
Thanks @Seth-Rothschild

[code]

Do I miss something?

Ok, I can wait for new `featuretools` conda release.

[2018-09-06 15:45] Seth-Rothschild commented on #246
That file no longer exists in the `conda install -c featuretools featuretools` tarball, so this particular error will be fixed. Let us know if you have other issues installing!

[2018-09-06 15:45] #246 closed

[2018-09-06 16:05] Tagar commented on #246
thanks for fixing this @Seth-Rothschild
it installed this time.

[2018-09-06 17:10] Seth-Rothschild commented on #191
This can also show up in the `mock_customer_demo` if the first 10 values of `zip_code` are `"02139"`. Infer_variable_types will parse those as `01-01-2139` and then `entity_from_dateframe` will error when it tries to parse the other zip code (`60091`).

[2018-09-06 19:10] Seth-Rothschild opened #247 "Migration to conda-forge?"
### Discussion
We're seeking input on if moving our recipe from [our channel](https://anaconda.org/Featuretools/featuretools) on anaconda.org to  to the [conda forge channel](https://anaconda.org/conda-forge) would be helpful to our conda users.

You can currently install Featuretools via
[code]
and by updating, you would be able to install with
[code]
If you have an opinion on this one way or the

[2018-09-06 19:10] Seth-Rothschild commented on #241
Moving discussion to #247

[2018-09-06 19:10] #241 closed

[2018-09-06 19:14] Tagar commented on #247
+1 in favor of moving to conda-forge

[2018-09-06 19:37] kmax12 commented on #247
I'm guessing many users will already have the conda-forge channel added to conda, which means the installation could be simplified to just be `conda install featuretools` for those users, which is a small pro.

Curious to hear from others who are more familiar with conda though.

[2018-09-06 21:02] Seth-Rothschild commented on #242
The line

from the documentation is not technically correct, so we'll update that. What we actually do is that we find if the `last_time_index` is after the start of the training window and the `time_index` is before the cutoff time. That's substantially harder to parse for users, but I can see how the simplification would be misleading. It seems reasonable to change the phrasing to talk about an

[2018-09-06 21:02] #242 closed

[2018-09-06 22:01] kodonnell commented on #244
Definitely. In general, I've found that most people (myself included) misunderstand the complexity of handling time overlaps etc., and that diagrams are the best method for clarifying this. It'll also make me (as a user of featuretools) much more confident that you're doing it 'right' (which would be awesome so I don't have to worry about it, as it's always the hardest part!).

[2018-09-07 19:37] #230 closed

[2018-09-10 15:48] kmatusz opened #248 "Integration with SQL?"
### Feature Request Description
The concept of EntitySet is similar to SQL database, with relations as foreign keys and entities as tables. I think a good feature would be to connect featuretools directly to an SQL database, or at least provide conversion of  a database to EntitySet automatically.

[2018-09-11 07:57] kmax12 commented on #248
@kmatusz this makes a lot of sense and is something on our list to add to Featuretools. One approach could be to use SQLAlchemy to implement this.

If you (or anyone else reading this) is interested in contributing this functionality to Featuretools, please let us know so we can discuss further.

[2018-09-13 04:03] bgweber commented on #203
For applying learned features to a full data set, you can use Pandas UDFs which call calculate_feature_matrix(). With this approach, you group by a key that distributes your spark data frame across nodes and passes portions of the dataframe as pandas to a user-defined function before recombining the result as a spark dataframe.

Are there any plans on making dfs() work in a distributed way? Right

[2018-09-13 09:36] McRays opened #251 "Running Featuretools in Spark"
### Bug/Feature Request Description
I am trying to running in spark 👍

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.com/#get-help) for further guidance on wher

[2018-09-13 09:37] #251 closed

[2018-09-13 09:56] jrkinley opened #252 "“IndexError: Too many levels” when running Featuretools dfs after upgrade"
Featuretools' `dfs()` method fails to run on my entity set after upgrading from v0.1.21 to v0.2.x and v0.3.0.

The error is raised when the Pandas backend tries to calculate the aggregate features `_calculate_agg_features()`. In particular:

`--> 442 to_merge.reset_index(1, drop=True, inplace=True)`
`...`
`IndexError: Too many levels: Index has only 1 level, not 2`

This is working fine in v0.1.x

[2018-09-13 10:07] jrkinley commented on #252
`pip freeze`

alabaster==0.7.7
anaconda-client==1.4.0
anaconda-navigator==1.1.0
argcomplete==1.0.0
astropy==1.1.2
Babel==2.2.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
bitarray==0.8.1
blaze==0.9.1
bokeh==0.11.1
boto==2.39.0
boto3==1.7.40
botocore==1.10.40
Bottleneck==1.0.0
cdecimal==2.3
cdsw==1.0.0
cffi==1.5.2
chest==0

[2018-09-13 10:12] McRays opened #253 "Running Featuretools with Spark on Yarn"
### Bug/Feature Request Description
I am trying to running Featuretools with spark on yarn.
In my code,I try to load and process data by spark and use feature tools to generate lots of features.
When I am running locally,the result is right.
Then,I try to running with spark on yarn.
Then,I get this error:

**IOError: [Errno 20] Not a directory: '/data/nm-local-dir/usercache/hadoop/appcache/applica

[2018-09-13 10:30] jrkinley commented on #252
Unfortunately I can't share any code or data, but to give you an idea the entity set is composed of 7 entities and 6 relationships that share a common join key. The first 2 dataframes have a unique index that I specify when calling `entity_from_dataframe`. The other 5 dataframes don't have a unique index column so I specify both `index` and `make_index` when calling `entity_from_dataframe`. This w

[2018-09-13 14:04] Seth-Rothschild opened #254 "Integer column names in dataframe"
### Bug Description
Currently, if your dataframe has an integer column name, running `es.entity_from_dataframe` will throw an error. There are three ways we might consider dealing with this:
1. We convert non-strings to strings automatically
2. We detect the existence of non-strings and raise an error with a message for how to fix
3. We natively support integers. This is challenging, because we'll

[2018-09-13 16:45] robertdefilippi commented on #239
Hello, sorry for the last response. Yes I'll share the code with you through help@featuretools.com

[2018-09-13 16:51] kmax12 commented on #253
@McRays we can look into this. can you describe the environments your using in more detail? what else is different between local and on yarn?

[2018-09-13 16:57] kmax12 commented on #254
I vote for option 2 for simplicity. In general, my experience found that automatically cleaning input automatically data is great when it works, but when stuff goes wrong it becomes very confusing for end users. For example, if we convert automatically, people might become confused when the feature in the returned dataframe is a string instead of `int` that they passed in.

I realize this is hypoc

[2018-09-13 18:57] kmax12 commented on #253
also, can you give a full stracktrace of the error and when it happens in the process of running featuretools?

[2018-09-14 02:52] McRays commented on #253
This is a full stracktrace of the error ，when i submit to yarn
[code]

[2018-09-14 05:49] sparo-jack opened #256 "when no data at a cutoff time "where feature" will cause keyerror"
in pandas_backend.py

line 382: base_frame = base_frame[base_frame[where.get_name()]]

line 454:to_merge = base_frame.groupby(base_frame[groupby_var],
                                          observed=True, sort=False).agg(to_agg)

when base_frame is a empty dataframe, after line 382 base_frame become no columns dataframe,
so line 454 raise keyerror

[2018-09-14 13:38] kmax12 commented on #256
@sparo-jack can you provide a piece of code that reproduces this error? without that, it will take us longer to track down the issue

[2018-09-14 14:13] kmax12 commented on #203
@bgweber thanks for outline the approaching with Pandas UDFS

yep, there are plans for a better integration. stay tuned!

[2018-09-14 19:04] FavioVazquez commented on #253
Hey @McRays can you share your spark code to see the integration with the library? Maybe I can help you

[2018-09-15 08:13] McRays commented on #253
thank you @FavioVazquez ，you can see the error info.
Before my code running,the error has happend.
This error is that don't find the config.yaml in feature tools code.
I doubt that this error is related to HDFS path, local path.But it's just guess.
As for my spark code ,sorry,It is in the gitlab.It is not my personal project.
But i can describe my thought：
1.read data and process data by spark
2.t

[2018-09-15 22:28] kmax12 commented on #253
@McRays can you try installing the latest master branch and running your code again? we just merged #257 that may fix the issue

install master with this command

`pip install -e git://github.com/featuretools/featuretools.git@master#egg=featuretools`

[2018-09-17 07:38] McRays commented on #253
Thank you @kmax12 I try install master with the command.
The bug has fixed.But it has new error.
This is a full stracktrace of the error
[code]

[2018-09-17 07:44] McRays commented on #253
@kmax12

[2018-09-17 16:41] kmax12 commented on #256
@sparo-jack we tracked down this issue and merged a fix into master. It'll go out in the next featuretools release. let us know if this doesn't resolve the problem for you. thanks for contributing!

[2018-09-18 07:12] sparo-jack commented on #256
resolved my problem, Thank you

[2018-09-18 11:32] jrkinley commented on #252
@kmax12 Thanks for the patch. Unfortunately it results in another error:

`> ...`
`> calculate_feature_matrix.py in calc_results (316)`
`> pandas_backend.py in calculate_all_features (196)`
`> pandas_backend.py in _calculate_agg_features (486)`
`> ...`
`KeyError: u'TREND(<entity>.<variable>, <time_index>)'`

[2018-09-18 11:40] jrkinley commented on #252
[featuretools_issues_252_keyerror.txt](https://github.com/Featuretools/featuretools/files/2392473/featuretools_issues_252_keyerror.txt)

[2018-09-19 12:46] kmax12 commented on #252
@jrkinley thanks looking into this. if you remove the trend primitive does the error still occur? can you tell if other features are missing?

[2018-09-19 15:58] alexelgier commented on #252
I am having a similar problem, I was getting the error "IndexError: Too many levels: Index has only 1 level, not 2", and after installing this branch, am getting KeyError on a TIME_SINCE_PREVIOUS feature. Removing TIME_SINCE_PREVIOUS from the primitives I'm using didn't help as I started getting KeyError with TIME_SINCE_LAST, after removing that one, I started getting KeyError on TREND.

Any help

[2018-09-19 16:05] kmax12 commented on #252
@alexelgier thanks. we are able to reproduce and are looking into it now

[2018-09-19 16:13] WillKoehrsen opened #263 "Read EntitySet or Features from a URL"
Using `ft.load_features()` or `ft.read_entityset()`, it currently is not possible to read from a url such as s3. It would be useful if features and entitysets could be read from a url to avoid the need for local storage.

[2018-09-19 16:50] kmax12 commented on #263
This library could be a good way to do it: https://github.com/RaRe-Technologies/smart_open

[2018-09-19 17:35] #252 closed

[2018-09-19 17:54] kmax12 commented on #252
@jrkinley @alexelgier can you try the branch `handle-empty-baseframe` and see if it solves your problem?

thanks again for helping us out!

[2018-09-19 17:55] alexelgier commented on #252
I've installed the branch and am running the code currently, will let you know if it works =)
Thanks so much for the quick response

[2018-09-19 18:40] alexelgier commented on #252
We're no longer getting the IndexError nor the KeyError, but now we're getting an AttributeError:

 File "/home/mlgroup/NRM/venv/src/featuretools/featuretools/computational_backends/calculate_feature_matrix.py", line 258, in calculate_feature_matrix
    pass_columns=pass_columns)
  File "/home/mlgroup/NRM/venv/src/featuretools/featuretools/computational_backends/calculate_feature_matrix.py", line

[2018-09-19 18:55] kmax12 commented on #252
@alexelgier this issue looks like you have an incorrect underlying datatype for the datetime column used by a `TimeSincePrevious` feature. Can you check that you time index in an entity is all datetimes and has no nulls?

[2018-09-19 19:30] jrkinley commented on #252
@kmax12 the branch is working for me. Thanks for your help!

[2018-09-19 20:05] alexelgier commented on #252
I've checked the EntitySet and the data seems ok. Is there any other reason I might be getting this error?

[2018-09-19 20:09] kmax12 commented on #252
@alexelgier can you share your data or a reproducible example? you can email us at help@featuretools.com.

[2018-09-19 20:49] alexelgier commented on #252
Sadly because of legal issues I cannot share the data I'm working on.

I've checked the EntitySet and all the time indexes in my entities are of type datetime_time_index and have no missing values.

Is there any other reason I might be getting this error?
Perhaps you could further suggest how I could debug this.

[2018-09-19 22:29] kmax12 commented on #252
@alexelgier the problem here appears to be with the `TimeSincePrevious` primitive. Can you open another issue for this discussion?

[2018-09-20 14:11] alexelgier commented on #252
Will do. Thanks for the help!

[2018-09-20 14:14] alexelgier opened #265 "AttributeError: 'float' object has no attribute 'total_seconds'"
I've been getting an error while running calculate_feature_matrix, I'm using a branch that was suggested to me in (https://github.com/Featuretools/featuretools/issues/252), related to a different problem.

It was suggested that perhaps one of my entities timeindex was not datetype, or that there might be missing values in that column, but I've checked my entityset and that's not the case. Sadly I

[2018-09-20 14:34] kmax12 commented on #172
@Seth-Rothschild this look fixed on docs.featuretools.com, right?

[2018-09-20 14:36] Seth-Rothschild commented on #172
Seems as though `Min` is fixed but `IsIn` [is not](https://docs.featuretools.com/api_reference.html#combine-features)

[2018-09-20 14:41] kmax12 commented on #172
`TimeSince` isn't working either. So it's actually not fixed.

[2018-09-20 19:29] #254 closed

[2018-09-20 20:02] alexelgier commented on #265
I've been able to replicate the problem using randomized data. I'll be posting the code shortly.

[2018-09-20 21:47] alexelgier commented on #265
Here you can download a Zip file with the data in .parquet format and a main.py which reproduces the error.

https://www.sendspace.com/file/un5s6l

Take into account that I'm not using the trunk of FeatureTools.
pip install -e git://github.com/featuretools/featuretools.git@handle-empty-baseframe#egg=featuretools

[2018-09-20 21:49] kmax12 commented on #265
@alexelgier thank you very much. we'll take a look as soon as we can and get back to you

[2018-09-21 02:13] #253 closed

[2018-09-24 15:20] kmax12 commented on #265
@alexelgier we are able to run your code and reproduce the error. the fix will be coming shortly.

[2018-09-24 18:26] ian-perry-ironnet opened #267 "Stack overflow when running DFS as part of larger project"
I'm using featuretools as one step in a data ingestion pipeline to create extra features as part of a larger project.  After doing some code refactoring and organizing, I started seeing this error for a few of my datasets while `ft.dfs` was running:

[code]

Unfortunately because it's a stack-related issue, I can't reproduce the problem in a notebook and my data is sensitive.  After a lot of debug

[2018-09-24 18:53] kmax12 commented on #265
@alexelgier can you test with the branch named `return-type`? If this works for you, we will merge PR #266 into master for the next Featuretools release.

[2018-09-24 20:03] Seth-Rothschild commented on #101
Closing via #173

[2018-09-24 20:03] #101 closed

[2018-09-24 20:07] Seth-Rothschild commented on #85
Closing via #238 which does exactly what you initially proposed to prevent things from breaking.

Using a ListVariable type still seems like a reasonable thing to do since it's easy to imagine primitives which would want to take in a series of lists.

[2018-09-24 20:07] #85 closed

[2018-09-25 16:11] alexelgier commented on #265
It seems to have worked (calculate_feature_matrix executed properly), but at a later point when I tried to convert the resulting dataframe to a spark dataframe there was an error regarding types, which leads me to believe that perhaps there is still some problem with the typing.

TypeError: field contractlength: Can not merge type <class 'pyspark.sql.types.StringType'> and <class 'pyspark.sql.type

[2018-09-27 12:57] iWangLin opened #269 "What do these parameters mean?"
`features, feature_names = ft.dfs(entityset = es, target_entity = 'tri',
                                 agg_primitives = ['mean', 'max', 'percent_true', 'last'],
                                 trans_primitives = ['subtract', 'divide'],
                                max_depth =2)`
Where can I find the meaning of these parameters? such as  agg_primitives,   trans_primitives ,or all of dfs

[2018-09-27 13:03] kmax12 commented on #269
@iWangLin you can find this information in our [documentation](http://docs.featuretools.com). For `dfs` in particular, look [here](https://docs.featuretools.com/generated/featuretools.dfs.html#featuretools.dfs).

[2018-09-27 13:03] #269 closed

[2018-09-27 13:04] kmax12 commented on #265
@alexelgier that seems like it might be an issue on spark's end, but let us know what you discover.

closing this issue, fixed by #266

[2018-09-27 13:04] #265 closed

[2018-09-28 21:11] #244 closed

[2018-09-29 21:40] systats commented on #109
There is a new R wrapper out there: https://github.com/magnusfurugard/featuretoolsR

[2018-10-01 20:00] WillKoehrsen commented on #203
There is now a Spark example notebook showing how to distribute feature engineering across a cluster of machines: [Featuretools on Spark notebook](https://github.com/Featuretools/predicting-customer-churn-with-spark/blob/master/churn/Feature%20Engineering%20on%20Spark.ipynb). A write-up describing the approach is also available on the Feature Labs engineering blog: [Featuretools on Spark article](

[2018-10-01 22:10] chappers commented on #203
@WillKoehrsen It certainly looks promising as a first pass. There does seem to be a fair amount of upfront work involved to ensure that each partition has the "full data" that is required to build the feature matrix. This might be tricky if the entity set has complex relationships (i.e. getting them partitioned in the first place might be a massive pain).

Happy to close this as "done" for now - m

[2018-10-02 13:05] louis-red opened #273 "Simple entity creation throws error with time index"
### Bug/Feature Request Description
I couldn't get past a rather simple creation of entity

[code]
-----

### Output :
[code]
-----
### Expected output
No errors I guess. Maybe I was doing something wrong.
In this case then, maybe a more informative error message.

-----
### Additional infos :
[code]

[2018-10-02 17:36] WillKoehrsen commented on #203
@chappers You're right, the example there is relatively simple to partition. With a more complex `EntitySet` (more parent-child relationships) this could be tough to implement.

If you do test out this approach, we'd enjoy hearing about it.

[2018-10-02 18:03] kmax12 commented on #273
@louis-red thanks for reporting. we are able to reproduce with your code example. Will investigate and fix ASAP.

[2018-10-02 21:15] kmax12 opened #274 "Provide better error message when no index is provided and index cannot be inferred"
Currently, `index` is not a required parameter to `EntitySet.entity_from_dataframe` because if no index is provide we will attempt to infer it based on the dataframe.

However, if we cannot infer and there is no index provided, the user receives the cryptic error message seen in #273.

We should update featuretools to provide a better error message to the user.

[2018-10-02 21:17] kmax12 commented on #273
@louis-red after looking at this more, the issue appears to be you do not provide an index column for the entity. To fix this, simply provide the `index` parameter and featuretools will create one automatically for you

[code]

this will add a index column to your input dataframe automatically.

[code]

Closing this issue, but opening #274, to provide better error message going forward.

[2018-10-02 21:17] #273 closed

[2018-10-02 22:33] WillKoehrsen opened #275 "Provide more helpful error message when cutoff time rows are duplicated"
Currently, the error produced when a `cutoff_time` dataframe has duplicate rows and is used in `ft.dfs` is

`Exception: cannot handle a non-unique multi-index!`

This is not very helpful and it can be frustrating trying to figure out the real issue.

A better error message would highlight the problem:

`Exception: cutoff time dataframe has duplicate rows.`

[2018-10-02 22:34] WillKoehrsen commented on #275
I think providing a helpful error message is better than internally dropping duplicates in `cutoff_time` because the user should probably investigate why the rows are duplicated.

[2018-10-03 08:34] louis-red commented on #274
Regarding design, it is not clear to me why specifying an index is necessary for the purpose of feature engineering. And if so, wouldn't it be the task of featuretools to add it, and deal with it, in the background ?

[2018-10-03 09:07] louis-red commented on #273
For this specific issue, wouldn't it be a good and simple solution to consider for the `index` argument, the column name passed for the `time_index` argument ?

[2018-10-03 15:42] kmax12 commented on #274
There are a couple reason we have the index variable type

1.  `Index` variables are the input type to the `Count` agg primitive and `CumCount` transform primitive. In order to treat those primitive that same as others, Featuretools does need to know which column is the index. To make our design simpler, we don't want to treat index as a "special" column, just a different variable type.

2.  Often

[2018-10-07 10:53] hamzahkhan opened #278 "import utils issue"
### Bug/Feature Request Description
A beginner here. Started using this library for automating feature engineering at work.
Installed thru python3 -m pip install featuretools. When opening in jupyter and running utils.load_entityset. _Showing error- 'module 'utils' has no attribute 'load_entityset''._
Should I git clone the repo or what?

-----
*Issues created here on Github are for bugs or featur

[2018-10-08 05:11] hamzahkhan commented on #278
`import utils`
`instacart_es = utils.load_entityset("partitioned_data/part_1/")`

`label_times = pd.concat([utils.make_labels(es=instacart_es,
                                           product_name = "Banana",
                                           cutoff_time = pd.Timestamp('March 15, 2015'),
                                           prediction_window = ft.Timedelta("4 weeks"),

[2018-10-08 14:57] kmax12 commented on #275
Fixed in #276  closing

[2018-10-08 14:57] #275 closed

[2018-10-08 14:58] kmax12 commented on #263
Related to #73

[2018-10-09 20:59] WillKoehrsen opened #280 "ft.encode_features creates duplicates columns when one category is "unknown""
When using `ft.encode_features` with a dataframe that has a categorical column with the category `"unknown"`,  duplicate columns are created.

This can be reproduced with the following code:

[code]
The resulting `features_enc` dataframe has a duplicated column:

![features_enc dataframe](https://user-images.githubusercontent.com/17484616/46698249-83432d80-cbe4-11e8-80c1-61c75fe296dc.png)

This is

[2018-10-09 21:15] WillKoehrsen commented on #280
One solution would be to check that the string `"unknown"` does not occur in any categories, and if it does, use a different placeholder. We'd want the same placeholder for all categoricals though so maybe there should be a `placeholder` parameter set by the user with default `"unknown"`.

[2018-10-10 02:52] ruifeng96150 opened #281 "Connection refused when using dfs mutli-cpu in loops"
### Bug/Feature Request Description

sometimes, the datas and labels is very big,
so it is very slow to generate the feature matrix.
I am trying to split those data to smaller ones.
It's run well at the first batch.
But at the second or followings. always get tornado errors
Hope your help and support , Thanks!!!

run script like this:

[code]

output like this:
[code]

-----
*Issues created here o

[2018-10-10 20:45] kmax12 commented on #281
we've come across this error before and suspect it relates to a race condition inside of Dask (which is the library we use for parallelism).

does your code still run to completion or does this error cause it to stop?

[2018-10-11 02:02] bgweber commented on #203
Here's a gist of the approach I'm taking, the goal is to be able to deal directly with Spark data frames:
https://gist.github.com/bgweber/6655508db34dffe7a63cfb95281fa700

There's a few things kept in memory on the driver node. I'm hoping I can share a write up I did on this approach eventually, because it's a great way of mixing python code that relies on Pandas with PySpark.

[2018-10-11 02:02] ruifeng96150 commented on #281
@kmax12 yes most of time, it can run normally without interrupt.
But sometimes it would fail to start a new loop with following error message:

[code]
And sometimes it will hint some warning:

[code]

[2018-10-11 13:53] kmax12 commented on #203
@bgweber this looks like a great approach! please let us know how it works.

[2018-10-14 02:11] FavioVazquez commented on #203
I love this thread. How much the actual feature tools depend on pandas? I'm happy to help and the work of @chappers and @bgweber it's an amazing step indeed

[2018-10-15 19:39] kmax12 commented on #203
@FavioVazquez right now, the internals depend on the Pandas DataFrame a little too tightly. There are also a few places where we go down to pure python code, which isn't amenable to a spark dataframe integration.

If you'd like to contribute, it probably makes sense for you review the `EntitySet` class and the `calculate_feature_matrix` method, to see how hard it'd be to adjust them to support bot

[2018-10-17 21:52] sarahmish opened #289 "Multicore DFS using Featuretools"
I'm trying to calculate my feature matrix using the following code which runs fine but takes a lot of time to generate.
[code]
My issue is that when I add the `n_jobs=-1` parameter to the function, I run into distributed errors like the following.
[code]

The multicore problem only persists if I use `cutoff_time`; operating in parallel without it runs smoothly.

[2018-10-19 15:57] kmax12 opened #290 "Add more variable types"
**Note: This a good first issue for people looking to contribute to Featuretools!**

Featuretools know how to apply primitives to input data based on the semantic variable types they accept. One approach to making more useful primitives is to add more variable types.

For example, if Featuretools had a `ZipCode` variable type, we could build a transform primitive that converted zip codes to the me

[2018-10-19 15:58] kmax12 commented on #289
we haven't seen this below. @sarahmish are you able to share a reproducible example?

Feel free to email help@featuretools.com if you have data you don't want public.

[2018-10-19 16:12] sarahmish commented on #289
I'm using one of your tutorials https://github.com/Featuretools/predict-appointment-noshow
when I add the `n_jobs` parameter, the deep feature synthesis fails.

[2018-10-19 17:48] kmax12 commented on #289
@sarahmish we're looking into this. however, I have one quick work around you can try.

Can try you manually creating a dask cluster and passing it into `ft.dfs`? It would look something like

[code]

Let me know if that help

[2018-10-22 15:46] sarahmish commented on #289
The same issue persists

[2018-10-22 16:40] kmax12 commented on #280
Fixed by #287  closing

[2018-10-22 16:40] #280 closed

[2018-10-26 19:18] kmax12 opened #294 "Make id an optional parameter to EntitySet constructor"
Currently, users must provide an `id` to initialize an `EntitySet`.

[code]

This is only used by the `repr` of the EntitySet, so we shouldn't require users to provide it. For most users, this is the first line of Feautretools code they write, so we shouldn't have arguments that aren't necessary.

To fix this issue we should

1. make `id` an optional argument to the `EntitySet` constructor
2. allo

[2018-10-26 19:41] ew4321 commented on #294
I'll work on it tonight

[2018-10-29 22:59] kmax12 opened #297 "Update tests to check error strings"
To test if Featuretools errors correctly, we have many tests like this
[code]

The test checks to make sure the right error type is thrown but now the message itself. We can test for the message itself like this

[code]

We should update all instances of ` pytest.raises(` to include the match parameter.

[2018-10-30 21:40] dah33 opened #300 "featuretools doesn't like datetime64[ns, UTC]"
[code]

Error is: ```Cannot convert column last_sessions_time to <class 'featuretools.variable_types.variable.DatetimeTimeIndex'>```

Workaround is ```astype``` conversion above.

[2018-10-30 21:51] kmax12 commented on #300
@dah33 thanks for sharing. we are able to reproduce using the following code

[code]

This is likely related to #151. Will put up a fix shortly.

[2018-10-31 15:06] kmax12 opened #301 "Remove time_index_reduce parameter from `EntitySet.normalize_entity`"
`time_index_reduce` can be used to determine the time_index of the new entity. According to the docs,

Using the `last` option could cause label leakage, so it should be removed. It's also untested in the code base and rarely, if ever used by end users.

Thank you to @dah33 for pointing this out

[2018-11-02 03:58] hoanglam-novobi opened #307 "Relation one2one in the data"
### Bug/Feature Request Description

I have some problem when I try to use the featuretools to create new features with my data.
The structure of the data is:
- Input table: the index is the timestamp (the format is %m-%d-%Y %H:%M:%S)
- Target table: a column with the class label (1 or 0) and one is the timestamp.
The relation between two table is one2one (input_table.timestamp -> target_table.tim

[2018-11-02 15:49] kmax12 commented on #307
@hoanglam-novobi This error is related to changes to Pandas API. Can you make sure you're on the latest version -- pandas 0.23.4?

[2018-11-02 16:33] hoanglam-novobi commented on #307
Thanks or reply.
I have checked the version of pandas. My version of pandas is 0.23.4.

[2018-11-02 16:35] hoanglam-novobi commented on #307
Thanks or reply.
I have checked the version of pandas. My version of pandas is 0.23.4.

[2018-11-02 18:19] kmax12 commented on #307
to better help, can you share a reproducible code example, as well as the full stack trace?

[2018-11-08 16:49] rlshuhart opened #309 "Any plans for development team to participate at future conferences?"
Love the project!

Any plans for the Featuretools team to provide any training at future conferences or host developer sprints?

I would be excited to see this at SciPy 2019 to throw that suggestion out there.

[2018-11-09 22:17] kmax12 commented on #309
Absolutely!

We already have some talks/training sessions in the works, but if you or anyone has other suggestions send us an email at team@featuretools.com.

We're thinking through developer sprints now as we've had a few people ask. What did you have in mind for that?

[2018-11-10 12:51] WillKoehrsen opened #311 "Feature definitions not compatible between v0.3.0 and newer versions."
This might be a known issue already, but I have a set of features created in Featuretools v0.3.0 that do not work when I use `ft.load_features` in v0.3.1. I have uploaded the set of feature definitions.

The following code works fine in v0.3.0 but not in v0.3.1:

`f = ft.load_features('features-2')`

The error is : `TypeError: 'str' object does not support item assignment`. I can post a full stack

[2018-11-10 13:11] WillKoehrsen commented on #311
The features also do not load in v0.4.0.

[2018-11-10 13:51] WillKoehrsen opened #312 "Can only use .dt accessor with datetimelike values."
I built a custom transform primitive that takes in a `Boolean` and a `Datetime` and returns the time since the previous `True` value. The primitive works fine by itself, but once I stack it on top of a `last` aggregation primitive and a `weekend` transformation primitive, I run into the error: `Can only use .dt accessor with datetimelike values`.  It seems like Featuretools is sending a`float` ins

[2018-11-11 08:52] Fannasankh opened #313 "Import error"
module 'tornado.platform.asyncio' has no attribute 'AnyThreadEventLoopPolicy'

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.com/#get-help) for further guidance

[2018-11-11 13:39] ugurcanlacin opened #314 "Multithread feature name creation issue on macOS"
### Bug/Feature Request Description
I try to create only feature names in parallel, but it only works with 1 thread. Here is what I tried so far.
I read the documentation [here](https://docs.featuretools.com/guides/parallel.html#using-persistent-cluster). Then, I tried LocalCluster. I always monitor **_htop_** results.

[code]

After running this code, there was only one thread running 100% for th

[2018-11-11 16:09] rlshuhart commented on #309
Great to hear!

Here are some ideas for sprints I've seen before:

Beginner/Intermediate level:
- Additional tutorials with new features, or update existing tutorials with new features
- Additional code example snippets for documentation
- General documentation improvement
- Address "Good First Issue" bugs
- Create additional tests
- Answer any Stack Overflow questions or improve responses

Advanc

[2018-11-11 18:05] kmax12 commented on #313
@Fannasankh can you share a reproducible example and details on your environment?

[2018-11-11 18:08] kmax12 commented on #314
@ugurcanlacin only feature calculation will run in parallel, not the feature generation. so this is expected behavior when `features_only=True`.

we should clarify this in the documentation. thanks for posting!

[2018-11-11 18:08] #314 closed

[2018-11-11 18:30] kmax12 commented on #314
we haven't seen feature generation be a bottleneck in most cases. that being said, there are probably opportunities to improve the existing code before thinking about how to parallelize deep feature synthesis. we could do it if there was a enough demand though.

[2018-11-12 05:44] Fannasankh commented on #313
I use Google Colab
example https://colab.research.google.com/drive/1pmXx4pEn4yw_pI5SU_wd20vPlVQl4Dvx

[2018-11-12 05:44] Fannasankh commented on #313
I use Google Colab
example https://colab.research.google.com/drive/1pmXx4pEn4yw_pI5SU_wd20vPlVQl4Dvx

[2018-11-12 05:45] Fannasankh commented on #313
I use Google Colab
example https://colab.research.google.com/drive/1pmXx4pEn4yw_pI5SU_wd20vPlVQl4Dvx

[2018-11-12 11:19] stobasa commented on #313
Am having the same error. I use Anaconda environment on Ubuntu.

[2018-11-12 16:20] rwedge commented on #313
Someone posted about this on stack overflow: https://stackoverflow.com/questions/53237312/import-featuretools-and-attributeerror-module-tornado-platform-asyncio-has-no

If I install a version of tornado lower than 5 I get this error when I try to import featuretools

[2018-11-12 16:34] Fannasankh commented on #313
I tried version 5.1, but it did not help on Google Colab

[2018-11-12 20:54] kmax12 commented on #313
@Fannasankh this looks like an issue with the Google Colab environment supporting tornado 5.1. Looks like after you upgrade there is problem simply importing Tornado.

@rwedge put up a PR to distributed (https://github.com/dask/distributed/issues/2351), which is the library we depend on, to fix the source of this issue.

Is it an option to run the code locally or in a different environment for the

[2018-11-12 21:10] kmax12 opened #315 "Add details about serialization features to the documentation"
Features saved in one version of Featuretools may not be able to be loaded in another version of Featuretools.

We should add this to the documentation for `ft.save_features` and `ft.load_features` as well as the [deployment](https://docs.featuretools.com/guides/deployment.html) page.

[2018-11-12 21:12] kmax12 commented on #311
Features saved in one version of Featuretools may not be able to be loaded in another version of Featuretools due to our usage pickle.

We should add this to the documentation for `ft.save_features` and `ft.load_features` as well as the deployment page.

Open issue #315 to fix this.

[2018-11-13 05:39] Fannasankh commented on #313
It works on version 4.5 and 5.1 locally, but updating a version of a tornado on google colab does not help

[2018-11-13 05:45] Fannasankh commented on #313
And when i updating tornado on Google Colab to version 5.0/5.1 i have error "ImportError: cannot import name 'future_set_exc_info'"

[2018-11-13 05:55] Fannasankh commented on #313
I fix this problem on Google Colab

!pip install distributed==1.23.3
!pip install dask==0.19.4
!pip install tornado==4.5.1

[2018-11-13 14:37] kmax12 commented on #313
Thanks for the digging into this and sharing the solution.

[2018-11-13 14:37] #313 closed

[2018-11-13 21:17] Tagar commented on #203
@kmax12 would it be possible basically to implement a "SparkBackend" and reference it in calculate_feature_matrix() here:

https://github.com/Featuretools/featuretools/blob/b5c0b5e93b3a8586a731bebce2e4668c23ef135b/featuretools/computational_backends/calculate_feature_matrix.py#L174

and then update EntitySet to use an abstract dataframe too (like it could be pandas dataframe or Spark dataframe ) ?

[2018-11-13 21:40] kmax12 commented on #203
Yep, that's the approach we had in mind. Although, much like we'd have a spark backend, we'd have a SparkEntitySet.

I'd also like to refactor functionality that can be shared across backends in to a `BaseBackend` class. For example, we have logic that decides the order in which to calculate features to avoid repeating calculations. Then each backend could subclass `BaseBackend` and implement the

[2018-11-13 21:50] Tagar commented on #203
That makes sense.

Thank you @kmax12

Is this something that is planned to be part of a particular Featuretools release ?

[2018-11-13 21:55] kmax12 commented on #203
we're working on it, but no ETA for putting into Featuretools open source.

[2018-11-14 01:01] WillKoehrsen commented on #315
I opened a pull request  #316 to address this. It updates the `save_features` and `load_features` functions docstrings as well as the deployment page. Is there anywhere else we should alert users to this behavior?

[2018-11-14 08:05] MarekHauzr opened #317 "Different results for same primitives and different max_depth in featuretools.dfs"
### Different results for same primitives and different max_depth in featuretools.dfs

When using different max_depth I get different results for the same combinations of primitives. Which I think should be the same.

Setup:
[code]
Using `max_depth = 3` and `max_depth = 2`
[code]
and the output when looking at the `'CUM_SUM(CUM_MEAN(sine by category) by category)'` is different for the different `

[2018-11-14 17:56] kmax12 commented on #317
The issue appears to be calculating this feature alongside other features that use the `Percentile` primitive. If you remove the `Percentile` primitive from your example, the discrepancy goes away.

Thanks for reporting. We are looking into it now and will keep you posted.

[2018-11-14 18:35] kmax12 commented on #317
@MarekHauzr we just put up a PR to fix this in #320. Can you test it out and confirm if it works for you?

You can install that specific branch with this command

[code]

[2018-11-14 22:07] WillKoehrsen commented on #315
Closed by #316. This provides documentation alerting the user to behavior but does not address the stability issue.

[2018-11-14 22:07] #315 closed

[2018-11-14 22:10] WillKoehrsen commented on #311
#316 helps on this issue by alerting users to incompatibility, however, do we want to try and make features compatible between versions? At the very least, the warning when users try to load in features from a different version should mention the incompatibility. Currently, the error is not very useful.

[2018-11-16 08:00] MarekHauzr commented on #317
@kmax12 Thanks, it works now.

[2018-11-16 11:01] jrkinley commented on #100
I also have a requirement for multiple `training_window` durations. For my use case, predicting the outcome is based on a variety of signals. Some signals are sparse and need to be analysed over many months or years (e.g. purchase history). Whereas other signals are more intent-based and need to be analysed over days (e.g. browsing history or communications). The later signals are better predictor

[2018-11-16 17:29] kmax12 commented on #100
@jrkinley That is a approximately the approach I would take. However, instead of having two entity sets, I would recommend using one entity set, but making two different calls to `ft.dfs` with `features_only==True`. You can use different primitives and different settings to ignore_variables in those `ft.dfs` calls to get two different lists of features definitions.

Then, you can call `ft.calculat

[2018-11-19 13:10] jbdatascience commented on #307
I experience the same problem:

I am trying out Automated Feature Engineering with Featuretools version 0.4.0 on Google Colab.

Although I do NOT encounter problems when I run this on my local computer on Anaconda Jupyter Notebook, but when I run the exact same Notebook on Google Colab, I always get the same error !

I use the Notebook Automated_Feature_Engineering.ipynb, which is mentioned in the

[2018-11-19 14:35] jrkinley commented on #100
@kmax12 super helpful, thanks.

[2018-11-19 16:58] ratchetwrench opened #322 "Serializing Feature Matrix for Later Use"
### Bug/Feature Request Description
Serializing Feature Matrix for Later Use

What is the suggested way to save and load feature matrices for later use?

I understand that ft.load_features() is expecting a list. But the the example in the docs assumes the training and testing in the same notebook session. But what about when I am using this with a deployed model pipeline?

Is it suggested to seria

[2018-11-19 23:35] kmax12 commented on #322
`ft.load_features` expects a filepath, which should be the filepath you provided when you called `ft.save_features`. SThey don't need to be on the same session

There is actually work being done on a better sklearn pipeline transform in #323. It has a slightly different api than the snippet in #163. You're welcome to use that now or wait for it to be merged in soon!

[2018-11-20 06:55] hoanglam-novobi commented on #307
@jbdatascience Thanks for sharing.
I looked at your notebook. But it seems like the relationship in your data is still one2many. For example,
a client_id has many loan_id...
I also have this error when I try to run dfs in featuretools in Google Colab.
Have you ever try to run dfs with the relation one2one in your data?

[2018-11-20 07:13] hoanglam-novobi commented on #307
@kmax12
Sorry for late reply. I don't have time to look again at this problem until now.
With the lastest run, I run dfs in my computer and it's successful.
I'm try to predict stock price based on historical data.
More detail about the code I ran:
The input table: the index column is the timestamp and some potential variable (continuous value)
The target table: the index column is also the timesta

[2018-11-20 16:20] jbdatascience commented on #307
I think the relationship in my data has to be one2many in the case of a client that can have more than one loan ! So a one2one relation would not be appropriate for this case.
But perhaps you mean one2one realtion as a technical work-around for the problem at hand ("TypeError: group() got an unexpected keyword argument 'observed'", which seems to be a Pandas related error ...) ?

[2018-11-26 17:09] kmax12 commented on #294
fixed by #324

[2018-11-26 17:09] #294 closed

[2018-11-26 17:10] kmax12 commented on #322
@ratchetwrench are you up for testing the sklearn intergration in #323? curious to know if it helps!

[2018-11-26 17:12] kmax12 commented on #307
If your data does in fact have a 1 to 1 relationship, you should just combine the entities into one entity!

Closing this issue for now.

[2018-11-26 17:12] #307 closed

[2018-11-26 17:15] ratchetwrench commented on #322
Max,

I will not be available to test that anytime soon with my current workload.

- Dave

On Mon, Nov 26, 2018 at 10:10 AM Max Kanter <notifications@github.com>
wrote:

[2018-11-26 18:08] #317 closed

[2018-11-28 07:25] ugurcanlacin opened #327 "Increasing max_features performance"
I realized that setting max_features parameter does not change the running time, which I would expect it faster since we directly say the maximum number of features. I checked the code and saw that we return the number of features after calculated the total number of features.

In this case, I think `new_features` should be calculated according to max_features parameters, so we do not have to wait

[2018-11-28 15:18] kmax12 commented on #327
You are right that we still generate all the feature definitions. However, setting `max_features` will reduce the number of feature definitions returned by DFS resulting in fewer actual feature calculations to happen. The bottleneck is usually the calculation of the actual feature values, not the feature definitions, so this a helpful parameter to decrease overall runtime.

[2018-11-29 14:09] jkgenser commented on #248
@kmax12 I would be very interested help with contributing this functionality to featuretools.

[2018-11-29 21:12] kmax12 opened #331 "Fix Featuretools PyPI Page"
The [current PyPI page](https://packaging.python.org/guides/making-a-pypi-friendly-readme/) for Featuretools doesn't how our readme.

There are some instructions to fix that here: https://packaging.python.org/guides/making-a-pypi-friendly-readme/

[2018-12-03 16:23] #247 closed

[2018-12-03 18:36] kmax12 commented on #331
fixed by #332

[2018-12-03 18:36] #331 closed

[2018-12-03 18:37] kmax12 commented on #322
I believe any issues here have been resolved / answered, so I will close for now. Please comment if that is not the case and we can reopen

[2018-12-03 18:37] #322 closed

[2018-12-03 20:55] louis-red commented on #274
Bug not present anymore in the latest master. Maybe I will PR a test to this entity creation.

[2018-12-04 09:25] VasekSvo opened #337 "Translate feature generating to SQL code"
Is there any way to automatically generate SQL code that would create the same features as when I use featuretools?  Ideally we would need a functionality to translate the calculation of selected feature into SQL code.

We need this for deployment, we are using sort of legacy tool that essentially requires us to write any transformation of input data in native SQL or Java code.

[2018-12-06 21:54] rwedge opened #338 "Generalize infer_variable_type and convert_variable_data methods"
### Bug/Feature Request Description
`Entity.infer_variable_types`, `Entity.convert_variable_data`, and `Entity.convert_all_variable_data` can be converted from class methods to general functions if instead of passing in `self` as a parameter we pass in `df`.  We can then move these functions out of the Entity class into utils/wrangle.py or another utils file.

We should also add unit tests to test

[2018-12-06 22:08] rwedge opened #339 "Add Entity and EntitySet attributes to the sphinx documents"
### Bug/Feature Request Description
The [EntitySet](https://docs.featuretools.com/generated/featuretools.EntitySet.html#featuretools.EntitySet) and [Entity](https://docs.featuretools.com/generated/featuretools.Entity.html#featuretools.Entity) documentation pages only have partial documentation of their respective class attributes, found at the bottom of each page.  Adding attribute documentation f

[2018-12-07 09:34] KOLANICH opened #340 "Make s3fs and distributed optional dependencies"

[2018-12-07 18:47] KOLANICH commented on #340
Because they are obviously unneeded for tinkering on a local machine.

[2018-12-07 19:23] kmax12 commented on #340
Got it. You're right about s3fs.  We should do something like Pandas when we require it i.e

[code]
Right now, I think we only require it for the demo datasets download functions (`featuretools/demo/flight.py` and `featuretools/demo/flight.py`)

Distributed, on the other hand, is used by to parallelize locally over multiple processes.

Leaving this issue open, so we at least fix it for s3. This is

[2018-12-07 19:29] kmax12 commented on #340
sure, we can add it directly into the `load_retail` or `load_flight` functions.

[2018-12-10 18:32] kmax12 commented on #55
reopening. a user should be able to specify the default value when creating the primitive to avoid the inference step. if no default value if provided, the inference should happen.

for example,
[code]

[2018-12-10 19:08] kmax12 opened #341 "Custom primitives should read the description from the docstring of function"
Currently a user has to describe the primitive by passing the `description` parameter to `make_agg_primitives` or `make_trans_primitives`.

[code]

Instead of using `description`, a user should be able to write

[code]

[2018-12-10 22:21] #300 closed

[2018-12-11 19:35] kmax12 commented on #274
This is likely resolved in #336 where we update the error messages for initializing entities. Feel free to comment if you think it could be done better and we will reopen

[2018-12-11 19:35] #274 closed

[2018-12-11 19:37] kmax12 commented on #163
initial implementation has been merged in to master from PR #323. Closing this issue for now. Any feedback on using that new sklearn transformer is appreciated!

[2018-12-11 19:37] #163 closed

[2018-12-12 11:14] alanzhanglei commented on #158
import featuretools as ft
import pandas as pd
import numpy as np
df = pd.DataFrame({'member_id': ['AAA', 'AAA',  'AAA', 'AAA', 'AAA',  'JJJ', 'JJJ', 'JJJ'],
                   'order_id': ['0001','0001','0001','0002','0002','1111','1111','1111'],
                   'order_datee': ['2011-01-01','2011-01-01','2011-01-01','2014-01-01','2014-01-01','2013-01-01','2013-01-01','2013-01-01'],

[2018-12-12 12:44] kmax12 commented on #158
Thanks for the reproducible example @alanzhanglei. I can see the issue and this is actually a different problem then the rest of the thread. Can you post this question on stackoverflow with the featuretools tag? By answering it there it will make it easier for future users hitting this problem to find an answer.

https://stackoverflow.com/questions/tagged/featuretools

[2018-12-12 12:55] kmax12 commented on #301
fixed by #344

[2018-12-12 12:55] #301 closed

[2018-12-12 13:44] kmax12 opened #345 "Remove EntitySet._import_from_dataframe"
`EntitySet.entity_from_dataframe` and `EntitySet._import_from_dataframe` are equivelent methods. We can remove `_import_from_dataframe` and keep just `entity_from_dataframe`. Anywhere that `_import_from_dataframe` is used can be replaced with `entity_from_dataframe`.

[2018-12-13 18:56] georgewambold opened #347 "Duplicate names in normalize_entity's additional/copy_variables throws non-obvious error"
I'm a new user of featuretools and so far it's been awesome. The documentation is way above par for open source and it seems has a lot of potential to help me with my ml projects.

While trying to convert a pandas DataFrame into a featuretools EntitySet using `entity_from_dataframe` followed by `normalize_entity` I got a strange error:  `'DataFrame' object has no attribute 'dtype'`.

I spent a whi

[2018-12-13 20:19] kmax12 commented on #347
@georgewambold thanks for trying out featuretools and sharing this. I agree we should detect this situation and raise an error.

if you (or anyone else reading this) is interested, we're open to outside contributions.

You would just need to add a check inside of `normalize_entity` and also add a test case in `featuretools/tests/entityset_tests/test_es.py`.

Let me know if you're interested, other

[2018-12-13 20:22] georgewambold commented on #347
I'd be happy to write the PR! Thanks for responding so quickly

[2018-12-13 21:11] georgewambold commented on #347
When I pulled master and checked it actually did raise a duplicate error -- It was fixed in #336 🥇

I wrote the tests anyway if you're interested in merging them #348 -- If not, nbd!

[2018-12-13 22:42] #345 closed

[2018-12-13 23:00] jeff-hernandez commented on #339
When using the `autosummary` extension in Sphinx, it seems like there is not a clear distinction between class attributes and instance attributes. Attributes defined using the `@property` decorator seem to be the only attributes included in the summary table at the bottom of the page. One option could be to manually define these attributes to render in the class description.
[code]

[2018-12-16 22:56] kmax12 commented on #347
fixed by #348. closing

[2018-12-16 22:56] #347 closed

[2018-12-18 15:02] pabloazurduy commented on #252
Hi, is this branch still available ?

[code]

[2018-12-18 20:14] bukosabino opened #355 "Problem installing featuretools 0.5.1 using Python 2.7"
### Bug

I can not install Featuretools 0.5.1 on python2.7 environment.

Steps to reproduce:

[code]

More information:

* You can install this packet on Python3.6 without errors.
* You can install featuretools==0.5.0 on Python2.7 without erros.

[2018-12-18 20:30] kmax12 commented on #355
@bukosabino i am not able to reproduce. what is the error you are getting?

also, what operating system are you running?

[2018-12-18 20:37] bukosabino commented on #355
Error:
[code]

OS:
[code]

[2018-12-18 21:14] kmax12 commented on #355
This issue seems to be with your .pypirc file. If you fix that parsing error / delete the file does that fix?

[2018-12-18 21:29] pabloazurduy opened #356 "`interesting_values` ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()"
### Bug/Feature Request Description

Hi
I'm using the interesting_values feature with some columns and I had an error that i can't trace:

[code]
any guidance in this issue ?, i don't have a replication error code yet, but I'm working on it

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [

[2018-12-18 21:41] kmax12 commented on #356
the issue here is that you are setting interesting values to be a numpy array or pandas series. we should handle this case.

in the meantime, can you cast interesting values to a python list when you assign it?

[2018-12-18 21:57] pabloazurduy commented on #356
perfect ! casting solved the issue.
...
[code]

new code:
[code]

[2018-12-18 21:58] kmax12 commented on #356
one other thing - what is the variable type of the variable? If the variable is Categorical or Ordinal, the cast should have happened for you.

[2018-12-18 22:08] pabloazurduy commented on #356
Now I defined all vars as  `ft.variable_types.Categorical` (a few of them where `np.float`), I removed the `list()`  casting, but I got a different error:
[code]
it's possible that that error is related with the `np.float` nature of the column ?

[2018-12-18 22:10] kmax12 commented on #247
For anyone interested, conda forge is now the recommended way to download featuretools on conda

Install with

[code]

See the package online here: https://anaconda.org/conda-forge/featuretools

@Tagar

[2018-12-18 22:30] kmax12 commented on #356
this is an issue with the NMostCommon primitive. can you remove that for now?

[2018-12-18 22:38] pabloazurduy commented on #356
Perfect, now it worked! :+1:

BTW ¿Why it worked when the column is not defined as `ft.variable_types.Categorical`?

Thanks

[2018-12-18 22:40] kmax12 commented on #356
the primitive only gets applied to categoricals values. if the column isn't marked at cateogrical it wouldn't get applied and this error during calculation doesn't occur.

[2018-12-20 15:23] rwedge opened #358 "CI: codecov missing"
### Bug/Feature Request Description
The codecov step in our CI tests is failing.  It looks like when it tries to upload the coverage reports it can't find them.

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Chec

[2018-12-20 17:52] #358 closed

[2018-12-25 18:17] bukosabino commented on #55
To finish this issue, I would like to see an example of default_value that make sense.

Can someone provide me based on this example primitive?

[code]

Thanks

[2018-12-25 18:57] kmax12 commented on #55
if the maximum function you define is an aggregation primitive, then it will always return a since value that is the largest in a list of numbers. the default value should be the return value when the input list is empty. in this case, that should be `numpy.nan`. the default value should never be a list, always a single value

[2019-01-02 08:45] maxpagels opened #362 ""ValueError: setting an array element with a sequence" when passing cutoff time DF to dfs()"
I have the following cutoff time dataframe:

[code]

With the following dtypes:

[code]

Yet, when I pass the DF to dfs():

[code]

I get `ValueError: setting an array element with a sequence.`. The feature calculation works fine when not using cutoff_time. Is this a bug or am I passing in the wrong kind of dataframe?

Full trace below.

---

[code]

[2019-01-02 13:03] pabloazurduy opened #363 "IndexError: Too many levels. when using "time_since_last" and cutoff"
failed code
[code]
Traceback
[code]

[2019-01-02 14:41] kmax12 commented on #362
@maxpagels are you only using the default primitives? if you are using a primitive like NMostCommon, can you try to remove that and see if that fixes the problem.

[2019-01-02 14:45] kmax12 commented on #363
@pabloazurduy which version of Featuretools are you running? this works for my in v0.5.1?

[code]

[2019-01-02 15:18] pabloazurduy commented on #363
Thanks @kmax12 I was using `featuretools 0.3.0` updating to `v0.5.1` solved the issue.

[2019-01-02 15:18] #363 closed

[2019-01-02 17:18] maxpagels commented on #362
@kmax12 good point, using only the default primitives seems to work. Is there a way of determining valid primitives beforehand?

[2019-01-02 17:21] kmax12 commented on #362
This is an issue with that particular primitive. All primitives should be valid. It will be fixed in the next release. I’ll keep this issue open until it’s fixed. Thanks letting us know.

[2019-01-15 13:19] RogerTangos opened #371 "test_install_primitives failing on master branch"
### Bug/Feature Request Description
On the first run of `python test featuretools/tests/`, [test_install_primitives](https://github.com/Featuretools/featuretools/blob/master/featuretools/tests/primitive_tests/test_install_primitives.py) fails when `install_path` is `"INSTALL_VIA_CLI"` or `"INSTALL_VIA_MODULE"`.

featuretools 0.5.1
python 3.6.6
OSX 10.13.6

Does this have to do with testing locally

[2019-01-15 15:07] kmax12 commented on #371
@RogerTangos can you share the stacktrace?

[2019-01-15 15:45] RogerTangos commented on #371
[code]

[2019-01-15 15:52] kmax12 commented on #371
looks like the featuretools command line program isn't installed on your machine.

can run from the root of the featuretools directory `pip install -e .` and then run the tests again?

[2019-01-15 16:41] RogerTangos commented on #371
That did it. Thank you. Is it OK if I add a line or two about testing into the README? e.g.

---
## Testing
To test featuretools, first make sure to install the command line program, and then run pytest:
[code]

[2019-01-15 17:32] #371 closed

[2019-01-25 16:47] floscha opened #381 "Plotting EntitySets"
Hey everyone,

I thought it would be great if it was possible to plot a visual representation of an *EntitySet*, like one can for example [plot the structure of a neural network in Keras](https://www.tensorflow.org/api_docs/python/tf/keras/utils/plot_model):

[code]

So I build some quick prototype which looks like the following:

![screeshot](https://user-images.githubusercontent.com/33159547/517

[2019-01-25 17:01] kmax12 commented on #381
That is a great idea and something that has been requested by users. A PR would be great.

[2019-01-31 11:05] bukosabino commented on #381
I have some problems with graphviz when I use es.plot().

At first, I get this error:

`ImportError: Please install graphviz to plot entity sets. (See https://pypi.org/project/graphviz/ for details)`

It is resolved with `pip install graphviz`. So, we need to add this package to requirements.txt. But, then I get:

`ExecutableNotFound: failed to execute ['dot', '-Tsvg'], make sure the Graphviz exec

[2019-01-31 17:34] bukosabino commented on #381
Ok. So, to use `es.plot()` people need to install graphviz as backend:

Mac OS:
`brew install graphviz`

Linux (Ubuntu example):
`sudo apt-get install graphviz`

Windows:
`conda install python-graphviz`

Now, we need to add the graphviz package on requirements.txt too.

[2019-01-31 17:47] kmax12 commented on #381
@bukosabino because graphviz can be a bit challenging to install on different platforms, we made it an optional requirement for people who want to use it. your comment on this issue is good documentation for it and we can add more to the docs after we get some feedback on people's experience installing it.

[2019-01-31 17:48] kmax12 commented on #381
closing since #382 has been merged in and released in featuretools v0.6.0

[2019-01-31 17:48] #381 closed

[2019-01-31 17:49] kmax12 commented on #362
@maxpagels we just put out featuretools v0.6.0. can you upgrade and let us know if the issue has been resolved?

[2019-01-31 17:54] rwedge commented on #381
The plotting tests require graphviz, so we should probably add graphviz to the test requirements or flag them as optional in some way.

[2019-01-31 17:57] kmax12 commented on #381
ah, yes let's do that. can you open a PR?

[2019-01-31 22:16] csala opened #390 "`featuretools.list_primitives()` returning wrong descriptions"
### Bug Description

In featuretools version 0.6.0, the method `featuretools.list_primitives()` returns the same description for all the primitives of the same type. Also, the description stays consistent if the method is called multiple times, but changes every time the intepreter is restarted:

[code]

[2019-02-01 00:02] gsheni commented on #390
@csala we are aware of this bug and have a fix coming soon

[2019-02-01 02:35] yangzhg opened #392 "support for high-dimensional sparse data ?"
Does featuretools support  high-dimensional sparse data?  how to use dfs  on high-dimensional sparse data

[2019-02-01 03:57] kmax12 commented on #392
Featuretools relies on pandas dataframes for data storage. We support what they support.

Can you provide an example of a type of feature engineering youd like to do an specific spare dataset? Than I might be able to suggest how Featuretools can help.

[2019-02-01 15:07] kmax12 opened #393 "Mean primitive should renamed to NANMEAN if ignore_nans=True"
The `Mean` primitive has the same name regardless of the the `ignore_nans` parameters.

For example, if I run

[code]
the resulting feature list looks like this

[code]

when I'd expect to have features for both mean and nan mean

[code]

[2019-02-02 00:48] gsheni commented on #390
Fixed #391

[2019-02-02 00:48] #390 closed

[2019-02-03 23:54] cfranklin11 opened #399 "Multiprocessing with LatLong columns raises error"
### Bug Description
I was running `ft.dfs` on a data frame that included `LatLong` columns. When I tried to use multi-processing by passing `n_jobs=-1`, I got `ValueError: 'values' must be a NumPy array.`. I traced the problem back to where `featuretools` calls `__sizeof__()` on each entity, which eventually calls `memory_usage(deep=True)` on the `LatLong` columns composed of tuples, which raises

[2019-02-04 09:31] cfranklin11 commented on #399
While working on this, I noticed that I wasn't using the latest version. Upgrading to `0.6.0` fixed the issue.

[2019-02-04 09:31] #399 closed

[2019-02-05 01:00] kmax12 commented on #399
good to hear it resolved itself. let us know if you encounter any other issues going forward. thanks for trying featuretools!

[2019-02-06 04:48] ericchansen opened #405 "CumCount, CumMax, CumMean, CumMin and CumSum no longer supported as transform primitive"
### Bug/Feature Request Description

As of commit 36ce3c300172390d702a614b5784332b8b56343a, CumCount, CumMax, CumMean, CumMin and CumSum can't be used as transform primitives.

This breaks the demo at https://github.com/Featuretools/Automated-Manual-Comparison/blob/master/Retail%20Spending/notebooks/Automated%20Retail%20Spending.ipynb.

[2019-02-06 13:20] kmax12 commented on #405
thanks for pointing that out.

we will be adding these primitives back into the next release.

[2019-02-06 14:47] csala opened #406 "Remove upper bound in pandas version"
Pandas version 0.24.1 was released three days ago and solved some bugs that were introduced in 0.24.0.

Can the `<0.24` restriction be removed from the pandas requirements?

[2019-02-06 15:44] kmax12 opened #407 "Add guide for contributing to Featuretools to documentation"
## Current process

### 1. Before implementing
Before starting major work, you should touch base with the maintainers of Featuretools by filing an issue on GitHub or posting a message in the [#development channel on Slack](https://featuretools.slack.com/join/shared_invite/enQtNTEwODEzOTEwMjg4LTZiZDdkYjZhZTVkMmVmZDIxNWZiNTVjNDQxYmZkMzI5NGRlOTg5YjcwYmJiNWE2YjIzZmFkMjc1NDZkNjBhZTQ). This will increas

[2019-02-06 21:27] #406 closed

[2019-02-07 11:17] sarvendras opened #411 "Gitgub link for featuretool implementaion on Spark not working"
Below  Gitgub link for featuretool implementaion on Spark not working..Please suggest.
https://github.com/Featuretools/predicting-customer-churn/blob/master/churn/Feature%20Engineering%20on%20Spark.ipynb

[2019-02-07 12:40] rathorology opened #412 "Bug:-while using the method "Is Weekend" in trans_primitives throws error."
### Bug/Feature Request Description
(replace this text with your issue)

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.com/#get-help) for further guidance on wh

[2019-02-07 12:43] #412 closed

[2019-02-07 12:46] rathorology opened #413 "trans_primitives "IsWeekend""
### Bug/Feature Request Description
Method "IsWeekend" in trans_primitives throws error.
change "IsWeekend" to "is_weekend" solves the issue.

[2019-02-07 12:48] ayushpatidar commented on #413
thanks, @rathorology for raising the issue and providing the solution I was facing this error from past two days

[2019-02-07 16:08] gsheni commented on #411
@sarvendras hey, you're right the link doesn't seem to be working. Where are you finding this link?

[2019-02-07 16:32] AtharKharal opened #414 "colab gives Timeout Error: worker failed to start"
I just ran following code in CoLab and got "Worker failed to start error", any help please!

[code]

Thanks indeed

[2019-02-07 16:40] kmax12 commented on #413
thank you. so we can fix this, where did you see code that had the wrong string for "is_weekend"? @rathorology @ayushpatidar

[2019-02-07 16:41] rathorology commented on #413
Documentation

On Thu, 7 Feb 2019, 10:10 pm Max Kanter, <notifications@github.com> wrote:

[2019-02-07 16:58] kmax12 commented on #413
where in the documentation?

The confusion might be that there are two ways to use the primitive. You use a string like this

[code]

Or, pass the object like this

[code]

[2019-02-07 16:59] rathorology commented on #413
Got it, thanks.

On Thu, 7 Feb 2019, 10:28 pm Max Kanter, <notifications@github.com> wrote:

[2019-02-07 20:05] #413 closed

[2019-02-08 05:16] sarvendras commented on #411
this link is given at featuretools site and medium.com site..
My objective is to get an example how to implement featuretool feature creation on spark.
https://docs.featuretools.com/guides/performance.html
https://medium.com/feature-labs-engineering/featuretools-on-spark-e5aa67eaf807

Please suggest any link having end to end featuretool implementtation on spark.

Thanks

[2019-02-08 09:33] sarvendras commented on #203
@kmax12 @WillKoehrsen @chappers
Hi All,

Can you please provide code to partition data using spark and any link for  full implementation of featuretool on spark  ?We are thinking to use featuretool for our fraud prediction system so just wan t to do small poc on spark implementation..

https://medium.com/feature-labs-engineering/featuretools-on-spark-e5aa67eaf807

following this link but partition

[2019-02-08 17:36] #411 closed

[2019-02-08 17:48] gsheni commented on #411
@sarvendras hey the issue has been fixed. The docs are updated with the correct link, and the medium post is also fixed with the correct link:
https://github.com/Featuretools/predicting-customer-churn/blob/master/churn/4.%20Feature%20Engineering%20on%20Spark.ipynb

[2019-02-08 19:07] #407 closed

[2019-02-09 17:10] kmax12 commented on #414
@AtharKharal I suspect the issue is that google colab doesn't allow spawning new process using python's multiprocessing. if you change `n_jobs=3` to `n_jobs=1`, your code should run without problem.

can you let us know if that fix helps?

[2019-02-09 23:16] AtharKharal commented on #414
@kmax12 thanks, I ran with n_jobs=1 but not successful. Same errors again. First error is like:
                                     ----> 6                       n_jobs = 1

and last error message is:
                                  TypeError: group() got an unexpected keyword argument 'observed'

[2019-02-10 19:23] gsheni commented on #414
@AtharKharal Can you verify that you have the latest version of pandas (0.24.1) installed? observed is an argument that was added in a newer release

[2019-02-11 00:07] AtharKharal commented on #414
@gsheni  thanks indeed, it is working now with pandas==0.24.1 and n_jobs=1. Earlier I was using pandas==0.22.0
regards

[2019-02-11 00:09] #414 closed

[2019-02-11 11:35] sarvendras commented on #411
@gsheni  Thanks a lot for providing the doc..quest one query..is it mandatory to place read and write partinioned files on S3 AWS..can we read and write at your local too just for POC purpose?

One more query i have ..As explained in below link..features(for example SUM,MEAN etc) got created for training data(lets say transactions data for last 2 months) and we wanto calculate features(SUM,MEAN et

[2019-02-11 20:11] #405 closed

[2019-02-11 20:40] jxwolstenholme opened #427 "Does anything constrain the variable type class definitions?"
### Bug/Feature Request Description
Hi,

As per https://github.com/Featuretools/featuretools/issues/290 I'm just having a look at the variable types and in particular the ZIPCode one.

When it says that that 5 or 9 digit zipcodes are supported, is anything checking this?

https://github.com/Featuretools/featuretools/blob/d93ff0ddd39a4d8c7881e59577e61feabc033790/featuretools/variable_types/variable

[2019-02-11 21:13] kmax12 commented on #427
@jxwolstenholme Yep, you can create new classes in that style.

In the future, we may introduce a more robust API that does validation based on variable type, but for right now, the code you put if fine.

Let us know if you have any other questions!

[2019-02-11 21:15] kmax12 commented on #427
we are also open to contributions of general purpose variable types. if you are interested, you can put up a PR for a `CountryCode` variable type to featuretools.

[2019-02-12 22:40] #427 closed

[2019-02-13 07:32] yangzhg commented on #392
Our data is stored in libsvm or csr/csc format. When converted to pandas dataframe, it will become extremely large.

[2019-02-14 00:55] gsheni commented on #312
@WillKoehrsen I believe you wrote the primitive incorrectly. The function you wrote did some unnecessary calculations, and it used a for loop. I rewrote it. Furthermore, the input types should be `DatetimeTimeIndex` not `Datetime`.
Also, your entityset folder was corrupt, and contained some incorrect data in `metadata.json` which I fixed. Its attached.
[code]
[churn_example.zip](https://github.com

[2019-02-18 17:48] kmax12 opened #437 "Only calculate features for instances before cutoff time"
Currently, if no instance ids are provided to `ft.dfs` or `ft.calculate_feature_matrix`, we calculate features for all instances in the target entity.

However, if a single cutoff time is provided, we only select the instances where the time index is less than or equal to the cutoff time.

The current logic that selects all instance ids is here:
https://github.com/Featuretools/featuretools/blob/72

[2019-02-20 19:28] rwedge opened #442 "Use packaged files to run tests on circle ci"
### Bug/Feature Request Description
Our CI tests runs the test cases with access to all the files in the repo, but when conda builds the featuretools package it only uses the files uploaded to pypi.  This can cause conda builds to fail if the hosted package on pypi is missing files.

We can catch this issue earlier in the process if we change the CI tests to also only use the packaged files. One a

[2019-02-20 20:33] gsheni opened #443 "Add PhoneNumber, DateOfBirth, URL variable types"
### Add PhoneNumber, DateOfBirth, URL variable types
-----
- Add PhoneNumber Variable Type
- Add DateOfBirth Variable Type
- Add URL Variable Type
- Add these types to ` featuretools/tests/testing_utils/mock_ds.py`
- Add to `docs/source/api_reference.rst`
- **Two PR Examples of adding new Variable Types #430 and #426**
[code]

[2019-02-22 21:20] glentennis commented on #443
@gsheni , some small questions:

- how strict is the phone number format? what will we allow? do we want country code?
- same question for urls. is the url any valid url? or should there be an "http://" at the front?

[2019-02-22 21:49] gsheni commented on #443
- We should allow any common number format.
- the url is any valid url.

[2019-02-25 07:22] yangzhg commented on #392
Our data is stored in libsvm or csr/csc format. When converted to pandas dataframe, it will become extremely large.

[2019-02-26 02:40] #443 closed

[2019-02-27 09:49] jfrydendall opened #448 "Missing trans primitive in version 0.6.1"
### Bug/Feature Request Description
After upgrading from version 0.5.1 to 0.6.1 the trans primitive subtract is missing.

Has the subtract primitive been deprecated or is there a new primitive that covers the same use case?

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](htt

[2019-02-27 10:15] jfrydendall commented on #448
Digging around the code I found out that you refactored the trans primitives and renamed old methods and extend the with new trans primitive features.

`subtract -> subtract_numeric`

[2019-02-27 10:15] #448 closed

[2019-02-27 14:18] grayskripko opened #449 "Create a page in docs of available primitives based on sources"
Each file [in this folder](https://github.com/Featuretools/featuretools/tree/master/featuretools/primitives/standard) is a name of group. Each class inside a file contains description and can be used in [the table](https://docs.featuretools.com/api_reference.html#cumulative-transform-primitives)

[2019-02-27 15:40] pabloazurduy opened #450 "dfs and calculate_feature_matrix TimeoutError: Worker failed to start when n_jobs defined"
Hi,
I was using this code before the update. currently its not working the dask implementation.
`ft.__version__ = '0.6.1'`
the code:
[code]

error traceback:
[code]

[2019-02-27 16:16] kmax12 commented on #450
@pabloazurduy can you share the output of `pip freeze`?

[2019-02-27 17:13] pabloazurduy commented on #450
@kmax12
[code]

[2019-02-27 23:12] kmax12 commented on #450
I'm having a some difficulty replicating. i  could be wrong, but i suspect this is an issue somewhat outside of featuretools. can you try updating to the lastest dask and distributed versions?

[code]

alternatively, you could downgrade to older version where it was working the past

[2019-02-28 13:34] pabloazurduy commented on #450
Hi @kmax12 I solved the problem. I thought that it was a problem with the update but it was a problem with the implementation.

In the example above the problem was the lack of the `__main__` definition generate a problem with the `dask.delayed` implementation, adding it solved the issue:
"""
if __name__ == "__main__":
    #(...)
    ft.dfs()
    #(...)
"""

In another module (different that the a

[2019-02-28 13:34] #450 closed

[2019-02-28 15:33] kmax12 opened #451 "Drop Python 2.7 Support"
The Python core team plans to stop supporting Python 2 in 2020. Many of Featuretools dependencies have already stated they will no longer be making releases that support python 2.7 or have already dropped Python 2.7 support. For example

* Numpy: January 1, 2019 ([details](https://docs.scipy.org/doc/numpy-1.14.1/neps/dropping-python2.7-proposal.html))
* Pandas: January 1, 2019 ([details](https://p

[2019-02-28 15:56] jeff-hernandez commented on #451
Projects with date or version on dropping support for Python 2.7:
- Python: January 1, 2020 ([details](https://devguide.python.org/#status-of-python-branches))
- Numpy: January 1, 2019 ([details](https://docs.scipy.org/doc/numpy-1.14.1/neps/dropping-python2.7-proposal.html))
- Pandas: January 1, 2019 ([details](https://pandas.pydata.org/pandas-docs/version/0.23.4/install.html#install-dropping-27))

[2019-02-28 16:26] jeff-hernandez commented on #451
This tables shows the version usage and installations of `featuretools` for February 2019.

| python_version | percent | download_count |
| -------------- | ------: | -------------: |
| 3.5            |  77.61% |         24,328 |
| 2.7            |  10.15% |          3,182 |
| 3.6            |   9.83% |          3,082 |
| 3.7            |   2.15% |            675 |
| 3.4            |   0.24% |

[2019-03-05 16:28] jeff-hernandez opened #453 "haversine error"
### Bug/Feature Request Description
Haversine primitive raises an error in the following use case:
[code]
[code]

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.

[2019-03-06 05:17] tlienart opened #454 "(big) typo on main webpage"
Apologies for the dumb issue but you probably want to fix:

![screen shot 2019-03-06 at 4 16 52 pm](https://user-images.githubusercontent.com/10897531/53857678-4e1ff780-402b-11e9-8184-c951cf7b0ac9.png)

(accesible -> accessible)

cheers

[2019-03-12 15:44] kmax12 opened #460 "Improve API for calling primitive functions"
We should make it easier for a user to call primitive functions directly.

Currently, a user has to initialize the primitive and then call `primitve.get_function()`.

[code]
The proposal is to make it like this

[code]

[2019-03-13 02:25] vnarayan13 commented on #453
Thinking of something like this to handle NaNs and scalars in the [haversine function](https://github.com/Featuretools/featuretools/blob/master/featuretools/primitives/standard/transform_primitive.py#L367):

`
def haversine(latlong1, latlong2):
    try:
        lat_1s, lon_1s = map(np.array, zip(*latlong1))
    except TypeError:
        lat_1s, lon_1s = [np.tile(np.nan, len(latlong1))]*2
    try:

[2019-03-13 16:57] #460 closed

[2019-03-13 17:28] CharlesBradshaw opened #463 "Update Primitive Call Tests"
### Bug/Feature Request Description
Update the Primitive Call Tests to use actual primitives instead of invalid primitives created from PrimitiveBase

[2019-03-14 18:43] kmax12 commented on #453
is there a way to vectorize the whole haversine primitive while also not erroring out on nans? any help on this is appreciated!

[2019-03-15 15:37] #442 closed

[2019-03-18 06:38] AWalkInClouds opened #464 "utils.load_data error"
<img width="1403" alt="屏幕快照 2019-03-18 下午2 36 30" src="https://user-images.githubusercontent.com/35360577/54511244-52cd9f80-498b-11e9-9b03-5ba30e1680f5.png"> utils .  not install?

[2019-03-18 15:10] kmax12 commented on #464
`utils` isn't a featuretools core library package. are you getting this from one of the demos?

[2019-03-19 01:11] NirantK opened #465 "KeyError in ft.dfs"
I am not quite sure if this is a bug or something I am doing wrong. Please let me know if this is better suited at StackOverflow

[code]

where my es looks like:
[code]

with following info:
[code]
Possible Hypothesis on what I am doing wrong: the relationship is not one one to many?

Version Info
[code]

[2019-03-19 01:19] kmax12 commented on #465
@NirantK can you post the full stack trace where you are getting the `KeyError`?

[2019-03-19 01:32] NirantK commented on #465
This is what the stacktrace looks like:

[code]

Thanks for looking into this!

[2019-03-19 02:08] kmax12 commented on #465
The issue is your target entity doesn't exist in your entityset, which only has two entities: sessions and transactions. target entity must be one of those.

[2019-03-19 02:10] kmax12 opened #466 "Improve error message when target entity doesn't exist in your entityset"
We should catch the error of the target entity not existing in the entityset and give a more informative warning.

We can also improve the error message seen in #465. It should say "KeyError: 'Entity order_date does not exist in entity set'" when the entity doesn't exist since the id may be none

[2019-03-19 02:13] NirantK commented on #465
I added "sessions" as a target entity. This lead to a vague `LookUpError`.

The complete traceback is here: https://gist.github.com/NirantK/1421ecbb7c5221c6fb316963d6c79f96

[2019-03-19 02:27] NirantK commented on #466
This would be a lot more informative. Happy to take this up over the weekend once I make enough progress on #465.

[2019-03-19 06:25] minkvsky opened #467 "KeyError # Check for duplicates"
### When I used the ft.calculate_feature_matrix to Calculating Feature Matrix for New Data with selected features(after ft.encode_features), I got KeyError # Check for duplicates; But When I used more features , I got no error;
Here is the example.
[code]
### use more features
`feature_matrix = ft.calculate_feature_matrix(features_enc[25:], es)`
### use selected featrues
`feature_matrix = ft.calcu

[2019-03-19 14:35] kmax12 commented on #465
based on that error, featuretools is failing to find a column named "Time" in your entityset. does it exist?

[2019-03-19 14:44] NirantK commented on #465
No, there is no such column in entity set.

[code]

And from this traceback:

[code]

Should `time_index` already been set to `order_date` as per the variable info? Just trying to understand the expected behaviour.

[2019-03-19 14:54] kmax12 commented on #465
I misspoke, it isn't look for a column named "Time", but it is failing to find whatever you indicated as your time index. can you share a reproducible example of code that we can run to help debug?

[2019-03-19 16:32] AWalkInClouds commented on #464
Problem solved. Utils.py is not in the directory. Thank you.

[2019-03-19 16:41] #464 closed

[2019-03-22 14:21] kmax12 opened #471 "Remove save_obj_pickle and load_pickle functions"
We have two small functions defined that only get used once within Featuretools and don't improve the implementation to exist. To clean up code and improve maintainability, we should refactor these functions out.

Both functions are defined and used here: https://github.com/Featuretools/featuretools/blob/6306975b756e3fae13aada39afbf2fd1ef86171a/featuretools/utils/pickle_utils.py#L66

[2019-03-22 14:23] kmax12 commented on #467
@minkvsky thanks for reporting. we are able to reproduce. until we fix it, you can calculate all the features and drop the ones you don't need

[2019-03-27 07:43] NirantK commented on #465
Hey @kmax12, sorry for the delay in getting back. I am getting the required permissions to share the data + code to allow us to reproduce this issue.

[2019-03-27 17:52] grayskripko opened #473 "dfs(n_jobs > 1) warning "Event loop was unresponsive in Nanny""
The full message
```distributed.core - INFO - Event loop was unresponsive in Nanny for 91.74s.  This is often caused by long-running GIL-holding functions or moving large chunks of data. This can cause timeouts and instability.```
repeats many times after dfs() execution.

I have a guess that I need to stop Cluster manually taking into account the fact that I use ```featuretoolsR``` wrapper and th

[2019-03-27 21:10] kmax12 opened #474 "Remove PrimitiveBase.allow_where"
The `allow_where` attribute is a legacy annotation for primitives. The primitives that where clauses can be applied to is now controlled through the `where_primitives` parameter to DFS rather on the primitive definition itself.

To fix this issue we should remove all mentions of `allow_where` in the codebase and test cases.

https://github.com/Featuretools/featuretools/blob/9f4858fa77e3186007d069f

[2019-03-30 18:34] VJSo007 commented on #87
I use windows and I am facing the following problem when i try and install featuretools

Collecting featuretools
  Using cached https://files.pythonhosted.org/packages/78/2a/8cee22677c82c6ecdaa6ffb320ea4384bfeb859ad620319684793b313326/featuretools-0.7.0-py3-none-any.whl
Collecting psutil>=5.4.8 (from featuretools)
  Using cached https://files.pythonhosted.org/packages/16/6a/cc5ba8d7e3ada0d4621d493

[2019-03-30 18:40] VJSo007 commented on #87
I use windows and I am facing the following problem when I try and install featuretools

Collecting featuretools
  Using cached https://files.pythonhosted.org/packages/78/2a/8cee22677c82c6ecdaa6ffb320ea4384bfeb859ad620319684793b313326/featuretools-0.7.0-py3-none-any.whl
Collecting psutil>=5.4.8 (from featuretools)
  Using cached https://files.pythonhosted.org/packages/16/6a/cc5ba8d7e3ada0d4621d493

[2019-03-30 19:00] VJSo007 opened #478 "featuretools installation problem"
I use windows and I am facing the following problem when I try and install featuretools

Collecting featuretools
  Using cached https://files.pythonhosted.org/packages/78/2a/8cee22677c82c6ecdaa6ffb320ea4384bfeb859ad620319684793b313326/featuretools-0.7.0-py3-none-any.whl
Collecting psutil>=5.4.8 (from featuretools)
  Using cached https://files.pythonhosted.org/packages/16/6a/cc5ba8d7e3ada0d4621d493

[2019-04-02 15:36] rwedge commented on #478
Hi @VJSo007, another user encountered this issue (#197) and was able to resolve it by creating a [virtual python environment](https://virtualenv.pypa.io/en/latest/) and installing featuretools in a new environment.

[2019-04-03 03:21] kmax12 commented on #73
this was recently asked about on stackoverflow. I left an potential solution for the S3 case: https://stackoverflow.com/questions/55482233/can-feature-tools-save-feature-list-directly-to-s3/55486555#55486555

[2019-04-07 17:18] VJSo007 commented on #478
I was able to solve this problem using conda install featuretools after restarting my laptop several times.

I am closing this issue. Thank you.

[2019-04-07 17:18] #478 closed

[2019-04-08 16:50] rwedge opened #484 "Unit test entityset is not being recreated for each test case"
Many of our testing files use this code:

[code]
What this code does is create a copy of the testing entityset and make it available for every test in the file.  However, due to setting `scope='module'`, every test case in the file uses the same copy of the entityset instead of a fresh copy.

This causes problems if a test case modifies the entityset, since every test run after that will also use

[2019-04-09 01:50] #467 closed

[2019-04-09 19:02] MarcoGorelli opened #485 "Primitive aggregation `trend` doesn't return any output"
### Bug/Feature Request Description
I can't get the primitive aggregation `trend` to work.

Here's a minimal, complete, verifiable example:
[code]
This returns
[code]
However, I was expecting there to also be an entry called `TREND(x.my_col)`.

Am I calling it correctly? If not, I'm happy to work on and contribute a pull request if it's a bug.

-----
*Issues created here on Github are for bugs or

[2019-04-09 22:11] rwedge commented on #485
Hi @MarcoGorelli ,

The problem is that `Trend` requires a time index in order to work.

See the example below on how to make it work. I wrote it using the the `EntitySet` class, which is how we generally recommend people load data into featuretools (read more [here](https://docs.featuretools.com/loading_data/using_entitysets.html))”

[code]

Which returns

[code]

Let me know if you have any othe

[2019-04-09 22:51] jeff-hernandez opened #486 "Invalid datetime unit in metadata"
Using dtypes `datetime64[ns, UTC]` raises an error when accessing the metadata of an entityset.

[code]
[code]
-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.com/questions/tagged/featuretools) tag. Check the [documentation](https://docs.featuretools.com

[2019-04-09 23:03] kmax12 commented on #486
a workaround for any hitting this problem now would be to convert all datetimes to not be timezone aware. that can be done for the example above like this

```df["time"] = df["time"].dt.tz_convert(None)```

[2019-04-10 06:59] MarcoGorelli commented on #485
Very clear explanation - thanks Roy!

On Tue, 9 Apr 2019, 23:11 Roy Wedge, <notifications@github.com> wrote:

[2019-04-10 14:37] rwedge commented on #485
No problem!  I'll go ahead and close this.

[2019-04-10 14:37] #485 closed

[2019-04-10 16:36] sebrahimi1988 opened #487 "ft.dfs with cutoff dataframe with different order of columns fails"
I was creating features for this entity set:

![Screenshot 2019-04-10 at 17 29 59](https://user-images.githubusercontent.com/25546598/55896486-4f0df100-5bb6-11e9-9050-2f43bda2babc.png)

 with the following cutoff parameter:

![Screenshot 2019-04-10 at 17 25 24](https://user-images.githubusercontent.com/25546598/55896281-ddce3e00-5bb5-11e9-80bb-e9640e835a36.png)

and this command:
[code]
I was gett

[2019-04-11 20:48] kmax12 commented on #487
@sebrahimi1988 that suggestion makes sense. would you open to trying to put up a PR for it?

[2019-04-12 13:03] sebrahimi1988 commented on #487
@kmax12 Sure, I'll have a look at the code!

[2019-04-16 10:36] johnnyheineken opened #496 "Improve error message when Categorical variable has NaNs"
### Bug Description
When categorical variable has `NaN`s, ValueError with following traceback is shown:

In categorical columns, replacing `np.NaN` with string `NaN` helped to remove this error.

[code]

[2019-04-16 15:35] kmax12 commented on #496
Thank you for the report. We should be able to fix this without you having to do the work around you mentioned.

To help us reproduce, are you doing either of the following

1. creating features with where clauses. Perhaps by using `interesting_values` and/or `where_primitives` ?
2. creating a `seed_feature` using equals?

[2019-04-16 16:04] kmax12 opened #497 "Handle case where DatetimeTimeIndex is set as variable type, but not specified as time index"
Some users have been creating entities like this

[code]

when all they really have to do is

[code]

I think to handle this we should raise an error if we detect the variable type of  `DatetimeTimeIndex`, but the actual time index property hasn't

[2019-04-16 16:50] RogerTangos opened #498 "Handle timezones in datetime indexes"
Currently, entity datetime indexes must not include time zones. Deviation from this causes, [calculate_feature_matrix.py#L171](https://github.com/Featuretools/featuretools/blob/master/featuretools/computational_backends/calculate_feature_matrix.py#L171) to give a not very helpful error:
```TypeError: cutoff_time times must be datetime type: try casting via pd.to_datetime(cutoff_time['time'])```

T

[2019-04-17 08:01] johnnyheineken commented on #496
I am using the `interesting_values` together with `where_primitives`.

[2019-04-17 15:44] nutle opened #500 "Loading previously saved features: ValueError: cannot convert float NaN to integer"
Not sure whether this is a bug or I am doing something incorrectly, but:

assume the feature matrix is created as in all of the example documentation:

[code]

this is working fine and I am able to save and export these features without any problems.

However, if we want to move this into production the following workflow breaks:

1. Storing created features:
[code]
2. Creating file for the export

[2019-04-17 16:53] kmax12 opened #501 "Update Time Since Previous and Diff primitives"
Because we now have `groupby_trans_primitives`, we can update the `TimeSincePrevious` and `Diff` primitives to not do grouping.

[2019-04-17 17:13] kmax12 commented on #500
@nutle can you provide the full stack trace?

also, what version of featuretools are you using?

[2019-04-17 17:43] nutle commented on #500
Yes, sorry, full stack:

[code]

Workflow is running through Windows 10 + Anaconda + Python 3.7
[code]

I admit that the original data was not clean, and in time we will clean it and remove the NaN's and the likes if that is going to be necessary.

However, the main concern was that if the original flow was able to handle the data, in theory so should the stored and re-loaded flow, right?

[2019-04-17 20:03] kmax12 opened #503 "TimeSince primitives should optionally take a unit parameter"
Right now the `TimeSince`, `TimeSinceLast`, and `TimeSinceFirst` primitives returns with the units of nanoseconds or second. We should optionally let the user choose the units of the return value. Also, let's set the default value for all of them to be seconds rather than nanoseconds.

[code]

[2019-04-17 20:29] kmax12 commented on #500
you're right. this is likely a bug. we are trying to reproduce now. are you able to share the data and exact code you ran to hit it? if you prefer you can send it to us directly at help@featuretools.com

[2019-04-17 21:02] kmax12 commented on #496
@johnnyheineken we just implemented a fix in #504. Can you try to install that branch directly and see if the error still persists?

You can install the branch with this command
[code]

[2019-04-17 21:02] kmax12 commented on #500
@nutle we just implemented a fix in #504. Can you try to install that branch directly and see if the error still persists?

You can install the branch with this command
[code]

[2019-04-18 11:35] nutle commented on #500
Thank you for the prompt fix! Will test and get back to you ASAP.

[2019-04-18 14:43] NirantK commented on #465
Teammates figured out an alternative implementation which is good enough for them.

Thanks for the assist @kmax12!

[2019-04-18 14:43] #465 closed

[2019-04-19 08:04] wujunzhuo opened #505 "different top_n(encode_features) values for multiple features"
In the `encode_features` function, the parameter `top_n` controls the number of the feature categories.

However, it's unlikely to set different values on different categorical features (e.g. `top_n = {'Feature: color': 8, 'Feature: shape': 5}`). Is there a good way to achieve that?

[2019-04-19 09:16] nutle commented on #500
Now, after updating the package, the stack is:

[code]

[2019-04-19 17:00] kmax12 commented on #505
You're right that this is not currently possible with the API.

You could potentially do it by making multiple calls to `encode_features` with just a subset of your feature matrix and feature definitions. Then you could combine those results.

We'd be open to a proposal for an API for this problem and then a PR that implemented this once we all agreed.

Thanks!

[2019-04-19 17:04] kmax12 commented on #500
are you able to share a data sample that reproduces the error?

[2019-04-23 13:22] dlionbox commented on #182
Is this working right now? Or it will be developed?
It will be very usefull.

[2019-04-23 15:32] kmax12 commented on #182
@dlionbox it isn't implemented at the moment as we're not sure how much people want it. if more people chime in that they want it, we'd be happy to build it!

[2019-04-23 20:01] kmax12 commented on #338
fixed in #423

[2019-04-23 20:01] #338 closed

[2019-04-24 16:29] kmax12 opened #508 "Print number of workers when running in parallel"
When featuretools runs with `n_jobs` great than 1, we print out a message like `EntitySet scattered to workers in 10.685 seconds`. We should update it to say `EntitySet scattered to X workers in 10 seconds` (add # workers and only need to the second precision on scattering time).

Here is relevant code:

https://github.com/Featuretools/featuretools/blob/master/featuretools/computational_backends/c

[2019-04-24 16:52] kmax12 commented on #62
This is now possible. For example, this is what it looks like for `Mean` which optionally has a parameter

[code]

[code]

Take a look at a any of the documentation for any and we now have examples https://docs.featuretools.com/api_reference.html#feature-primitives

[2019-04-24 16:52] #62 closed

[2019-04-26 08:12] johnnyheineken commented on #496
Sorry, just got back to the issue and wanted to try it.
Installation fails with `Command "git clone -q git://github.com/featuretools/featuretools.git C:\Users\jan.hynek\Documents\HCI\scoring-sim\src\featuretools" failed with error code 128 in None`

128 indicates Git couldn't access the resource.

[2019-04-26 13:41] kmax12 commented on #172
This has been fixed. Closing

[2019-04-26 13:41] #172 closed

[2019-04-26 15:58] kmax12 commented on #500
@nutle actually, what version of pandas are you using? I suspect it is below 0.24.0. If so, can you try to upgrade and run the branch again?

[2019-04-26 16:05] nutle commented on #500
Sorry for not responding earlier, had a lot of unrelated tasks. I didn't have time earlier to catch the precise row that was causing the bug, but what Ive noticed is that it definitelly crashes when Last and Num-unique are used as primitives. Probably it has something to do with counting nulls?

Pandas should be the latest version, if I recall correctly, since I tested this on a fresh python insta

[2019-04-26 16:11] kmax12 commented on #500
can you confirm the pandas version?

[2019-04-26 18:21] #508 closed

[2019-04-26 18:42] dlionbox commented on #182
@kmax12 thank you for answering! I'll be happy using it

[2019-04-26 19:28] #463 closed

[2019-04-27 17:28] quancore opened #518 "pyspark dataframe"
I could not find any clue how to integrate featurtools to pyspark data frames. For all examples, pandas data frames have been used even if spark example which is strange. Can you provide a guide for spark data frames?

[2019-04-29 07:54] nutle commented on #500
It was in fact 0.23.4, and upgrading to 0.24.2 seems to have solved it. Thank you!

[2019-04-29 07:54] #500 closed

[2019-04-29 18:06] kmax12 commented on #496
@johnnyheineken can you clone the repo manually using `git clone` and then install from the root of repo by running `featuretools install -e . `?

[2019-04-29 21:25] #466 closed

[2019-04-30 19:00] #437 closed

[2019-04-30 20:36] kmax12 commented on #518
We recommend [this article](https://blog.featurelabs.com/featuretools-on-spark-2/) on our blog which explains how to do it with the open source library.

Featuretools Enterprise also has this functionality built in. You can read more in the docs [here](https://docs.featurelabs.com/documentation/spark).

[2019-04-30 20:36] #518 closed

[2019-05-03 11:00] nutle opened #528 "Stacking of "where" features"
Assume we define "interesting values" for two variables in the same entity, say, ``x``and ``y``. By defining rules for ``where_primitives``, ``dfs`` generates various aggregates with ``WHERE x = x`` and ``WHERE y = y``. However, it would be very useful to stack those variables together, so that the final result would be ``WHERE x = x and y = y``.

Or is this possible and I'm just missing it? [The

[2019-05-03 13:25] kmax12 commented on #528
There is no way to automatically stack where features, but here is an approach that could work: https://stackoverflow.com/questions/54136115/how-to-create-interesting-values-using-value-combinations-from-multiple-features

[2019-05-03 13:33] nutle commented on #528
@kmax12 Thanks for the link! Yes, this should work.

[2019-05-06 03:42] xuehui1991 opened #531 "How to set the relationship in two column which is not index?"
### Bug/Feature Request Description
(replace this text with your issue)

I want to set the relationship of two columns in two tables.  For example:

[code]

But the es['clients']['client_att'] and es['loans']['client_att'] is not the index of data frames of 'clients' and 'loans', which means these columns may contains the repreated value and not unique. Then it will riase an error.

So does featur

[2019-05-06 14:51] kmax12 commented on #531
In a parent-child relationship, only the parent has to have a unique index. In this case, the column in client dataframe should be unique, but the column in the loans dataframe won't be unique. That is because one client might have many previous loans. If your client entity doesn't have one row per client, you likely will want to try to arrange your data such that it does.

Closing this issue for

[2019-05-06 14:51] #531 closed

[2019-05-08 19:21] #471 closed

[2019-05-08 21:25] CJStadler opened #534 "Refactor handling of secondary_time_index in normalize_entity"
Currently a new dataframe is created with the secondary time variables, and then joined with dataframe for the new entity:
https://github.com/Featuretools/featuretools/blob/4b6a5a4d38de94a64c08ad15b5b8cefa9954b6df/featuretools/entityset/entityset.py#L762-L776

This means that we are sometimes dropping columns and then re-adding them. Can this be avoided?

[2019-05-09 18:17] CJStadler opened #537 "Improve error message when make_time_index is invalid"
For `normalize_entity` function, the argument `make_time_index` is could be a string or a boolean.

There are two cases where `make_time_index` might not be valid (if its a string):
* Specifying an existing column for `make_time_index` but not adding that column to `additional_variables` or `copy_variables`.
* Setting `make_time_index` to a column that doesn't exist in the base frame.

See https:/

[2019-05-09 21:49] Julian opened #540 "Docs should show how to create custom primitives that operate on columns satisfying a predicate"
### Bug/Feature Request Description

Will update this if I figure out how to actually do it, but as a new user reading the docs on
how to implement custom primitives, it's a bit hard to figure out how to create new custom primitives that operate on only a subset of their input types' valid values.

I.e., if I have columns that represent URLs, I want to define a custom transform that operates on st

[2019-05-10 17:45] #484 closed

[2019-05-10 20:28] CJStadler commented on #540
Both parts of this are possible, but I definitely agree that they are not well documented.

1. For your specific example of URLs, there is already a `URL` type defined in featuretools (all types are listed [here](https://docs.featuretools.com/api_reference.html#variable-types)). More generally, although this is not explicitly supported, you can define new variable types by subclassing an existing

[2019-05-10 20:47] Julian commented on #540
Thanks! Very helpful -- and glad to hear I guess I was on the right track then.

Just on the last example there where `return_type` looks like it's just one type -- does that mean then that the return type, if it's multiple columns, has to be homogeneous? I.e. (for some hypothetical other example) you can't return multiple exploded columns and have some of them text and some numbers?

[2019-05-10 20:53] CJStadler commented on #540
Yes, currently there is no way to specify multiple return types.

[2019-05-10 20:58] Julian commented on #540
Great, thanks! Is it worth leaving this open, or if I happen to get a chance to transfer your examples into them should I just send a PR?

[2019-05-10 21:02] CJStadler commented on #540
Since the docs should be updated I think we can leave this open. If you want to submit a PR that would be great!

[2019-05-13 19:48] Julian commented on #540
Following up here on one other similar point (and hopefully not sounding like usage advice at this point :), if so happy to take this to a different channel), but another thing that's a bit hard to figure out at the minute even with the pages you've linked is what type to use for containers -- e.g., if the data type is "list of URLs", in the above example, I don't see how to specify compound input

[2019-05-15 16:26] CJStadler opened #543 "Support entitysets with multiple paths between entities"
Currently we cannot support entitysets where there are multiple paths between any two entities. The root cause is that aggregation and direct features do not specify a path to the entity of their base features, assuming that there can only be one. During feature matrix calculation when multiple paths are detected we therefore raise an error ("Diamond graph detected!").

By instead representing fea

[2019-05-16 15:59] kmax12 commented on #281
@shayan113 can you run `featuretools info` and let us know your setup that is running into this issue?

also, an easy work around if you don't care about run time would be to set `n_job=1` when you calculate features

[2019-05-17 21:22] gsheni commented on #537
The assertion check should be added in the `normalize_entity` function

[2019-05-19 15:29] sebrahimi1988 commented on #487
@kmax12 Could you add me as a contributor to the repo so I can open a PR?

[2019-05-19 18:54] kmax12 commented on #487
@sebrahimi1988 you should have to be added as contributor to open a PR. if you fork the repo, you will be able to submit a PR.

[2019-05-21 15:56] gsheni opened #553 "Improve error message for time_index and index being same column"
When using `normalize_entity` function, we should check that the value in `index` and `make_time_index` are not the same value.
We should also do this check for `entity_from_dataframe`, if it's not already done.

[2019-05-21 16:01] gsheni opened #554 "Better test case for normalizing from no time index to time index"
The test case here:
https://github.com/Featuretools/featuretools/blob/master/featuretools/tests/entityset_tests/test_es.py#L829
Needs to improved to better and more realistic test normalizing with no time index, and verify that a new time index was created.

[2019-05-21 16:04] #537 closed

[2019-05-22 12:04] CHOcho-quan opened #555 "Entity 0 does not exist while the entity id 0 is not seen anywhere"
Entityset: stock
  Entities:
    askvolumes [Rows: 452730, Columns: 6]
    bidvolumes [Rows: 452730, Columns: 6]
    askprices [Rows: 452730, Columns: 6]
    bidprices [Rows: 452730, Columns: 6]
    prices [Rows: 452730, Columns: 9]
  Relationships:
    askvolumes.stock_id -> askprices.stock_id
    bidvolumes.stock_id -> bidprices.stock_id

[2019-05-22 12:04] CHOcho-quan commented on #555
Traceback (most recent call last):
  File "featureGeneration.py", line 374, in <module>
    generate_by_ft(10, 30, 30)
  File "featureGeneration.py", line 364, in generate_by_ft
    features, feature_names = ft.dfs(es, 'prices')
  File "/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/featuretools/utils/entry_point.py", line 46, in function_wrapper
    raise e
  File "

[2019-05-22 12:05] CHOcho-quan commented on #555
So where is the entity 0 should be ? I haven't seen the entity id anywhere in my program

[2019-05-22 12:12] CHOcho-quan commented on #555
Well, it seems that when I run your demo about customers on your website, it still shows me that error. Maybe something goes wrong with your package

[2019-05-22 12:18] CHOcho-quan commented on #555
I solved the question by re-installing version 0.6.0

[2019-05-22 12:24] CHOcho-quan commented on #555
Well, when I change the version to 0.6.0, the demo runs well but my program is still with that KeyError

[2019-05-22 13:24] kmax12 commented on #555
@CHOcho-quan can you paste the code of the demo you are running that doesn't work?

also, looking at your stacktrace, you may be calling `ft.dfs` incorrectly.  can you try calling it with the arguments named like this?

```ft.dfs(entityset=es, target_entity='prices')```

[2019-05-22 14:07] CHOcho-quan commented on #555
Thank u so much. Solved by adding the argument names. The demo I run is also the same problem, solved by adding the argument names

[2019-05-22 14:07] #555 closed

[2019-05-22 14:13] CJStadler opened #556 "Add a schema version for entityset serialization"
This would allow us to check (during deserialization) that the format of the serialized entityset is compatible with the running version of featuretools.

This is already done for feature serialization: #532

[2019-05-22 14:22] kmax12 opened #557 "Add installation instructions for optional packages to documentation"
We now have a few optional packages that can be installed alongside featuretools after merging in #551.

We should include these in the documentation in the install page. We should also update the github readme.

[2019-05-22 22:13] #503 closed

[2019-05-22 23:57] bschreck opened #560 "Custom variable types (like custom primitives)"
### Feature Request

Currently there's no functionality to add a new variable type like there is a new primitive. I thought I'd be able to just subclass `Categorical` (with something like `CatList` - to deal with list-type columns e.g. "item1,item2,item3"), and create a `TransformPrimitive` that requires the subclass as input variable type.

However, an identity feature's `variable_type` depends o

[2019-05-23 14:04] kmax12 commented on #560
Thanks @bschreck. We will look into fixing this for the next release

[2019-05-23 18:57] ctduffy opened #562 "Primitive Function redundant casting"
The primitive functions in transform_primitives take in a pandas series as an input, so inside these primitives it is no longer necessary to cast the input to a Series.

[2019-05-23 19:49] #501 closed

[2019-05-25 11:56] Raul9595 commented on #562
Can I work on this issue ?

[2019-05-27 01:25] kmax12 commented on #562
@Raul9595 sure! just put up a PR once you are ready for us to revie

[2019-05-28 15:21] rwedge commented on #73
To summarize the expected calls:
* Returns the serialized features as a string
[code]
* Saves the serialized features as a file
[code]
* Save the features to open file `f`
[code]
* Save the features to s3 file
[code]

[2019-05-28 15:23] rwedge commented on #356
Looks like this was fixed in release v0.7.0

[2019-05-28 15:23] #356 closed

[2019-05-28 21:33] allisonportis opened #565 "entityset_tests/test_serialization.py--makedir() throwing FileExistsError"
### Bug/Feature Request Description

Tests in tests/entityset_tests/test_serialization.py (starting @ line 82) throwing FileExistsError from makedirs(path) --> some test(s) leaving existing directories.

-----
*Issues created here on Github are for bugs or feature requests. For usage questions and questions about errors, please ask on Stack Overflow with the [featuretools](https://stackoverflow.co

[2019-05-29 13:42] CJStadler opened #568 "Renamed features do not have their name serialized"
[code]
Outputs
[code]
Instead of
[code]

[2019-05-30 15:09] #565 closed

[2019-05-30 16:03] #73 closed

[2019-06-04 19:08] alexjwang commented on #568
AggregationFeature testing code
`
import featuretools as ft
from featuretools.tests.testing_utils import make_ecommerce_entityset
from featuretools.feature_base.features_serializer import FeaturesSerializer
from featuretools.feature_base.features_deserializer import FeaturesDeserializer

es = make_ecommerce_entityset()

original = ft.IdentityFeature(es['log']['value'])
print(original)

primitive =

[2019-06-05 10:38] ajoeajoe opened #582 "can featuretools only apply to one-table datasets"
can featuretools only apply to one-table datasets(maybe I just can not find related documentation)

[2019-06-06 16:16] #474 closed

[2019-06-06 21:42] kmax12 commented on #582
Hi there,

Take a look at these two posts

1. https://stackoverflow.com/questions/52418152/featuretools-can-it-be-applied-on-a-single-table-to-generate-features-even-when
2. https://stackoverflow.com/questions/50145953/how-to-apply-deep-feature-synthesis-to-a-single-table

Please let us know if it helps!

[2019-06-06 21:42] #582 closed

[2019-06-09 13:40] ajoeajoe commented on #582
Many Thanks, I think you should give some example for different specific dataset or problems(time series), which is tsfresh or Tensorflow do, indeed, Featuretools is a very good tool.

[2019-06-09 13:43] ajoeajoe commented on #582
Many Thanks, I think we will appreciate that if you guys can give more demo examples regarding to different specific datasets or problems(e.g. time series), which is tsfresh or Tensorflow do, indeed, Featuretools is a very good tool.

[2019-06-12 08:16] johnnyheineken opened #591 "Naming of aggregation feature which outputs multiple columns returns TypeError in feature_base/hash"
### Bug/Feature Request Description

This is similar to #540, as I have not found documentation for these kind of primitives.

I would like to create aggregation primitive, which creates multiple columns at once. However, naming is important part of this procedure, and I have achieved to add the clumns, but not to name them.

This is caused by `feature_base\feature_base.py in hash(self)`

This is

[2019-06-12 16:00] CJStadler opened #592 "Remove Timedelta data param"
In #572 we are removing `Timedelta.__call__`, which constructed a new `Timedelta` with data. The remaining code that uses `data` is no longer covered by tests, and so should be removed.

This will mean that `Timedelta`s with "observations" as the unit can only be relative.

[2019-06-12 16:02] kmax12 commented on #591
Currently, we do not support giving specific names to each of the output dimensions. When you set `number_output_features` featuretools will automatically append `__0` ... `__n-1` to your output features.

If you remove your code for generate name, what you've done about should work to produce features.

If you want specific names, I'd recommend breaking your custom primitive into multiple functio

[2019-06-12 18:42] kmax12 opened #593 "Allow users to specify names of multioutput custom primitives"
Currently, multi output features get named like `feature_name__1`, `feature_name__2`, ... `feature_name__n`.

It would be nice if there was a way for a primitive to override the `get_feature_names` method to give each output feature a specific name.

This was brought up in #591.

[2019-06-12 18:43] kmax12 commented on #591
Opened issue #593 for this, so closing this issue for now.

Feel free to follow up here if the proposal above doesn't work for you

[2019-06-12 18:43] #591 closed

[2019-06-13 09:19] johnnyheineken commented on #593
Thanks a lot. Do you have any inspiration what to look at, to see how this should be implemented? I might have a look at this issue.

[2019-06-13 10:15] nutle opened #596 "Error when calling "load_features": 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte"
When trying to call

```saved_features = ft.load_features(feature_definitions)```

the following error is returned:

[code]

This works without problems on local machine, where the features are developed, but the problem arises when trying to deploy the load on a docker VM.

What could the problem be?

Notes: featuretools version is 0.8.0 for centos, python 3.6 - while on the developers machine th

[2019-06-13 10:35] sruteesh-pivot opened #597 "ft.save_features and ft.load_features gives different results"
### Bug/Feature Request Description ###

-----
I am getting different results while saving the features using `ft.save_features` and loading them using `ft.load_features`.
I am trying to run this notebook [here](https://github.com/Featuretools/predict-next-purchase/blob/master/Tutorial.ipynb)
Any particular reason? Am i doing anything wrong?

*Issues created here on Github are for bugs or feature

[2019-06-13 10:44] sruteesh-pivot commented on #597
loaded feature : `<Feature: NOT(DAY(dob).isin([1, 15, 10, 16, 6, 14, 20, 8, 24, 5]))>`
saved_feature: `<Feature: DAY(dob) is unknown>`

The problem seems to occur in all the cases of where value is `unkown`
Any fix?

[2019-06-13 14:18] CJStadler commented on #597
Hi @sruteesh-pivot, thanks for posting. This is a bug which will be fixed by #585.

The issue is just with the name of the feature, so the calculated results should be the same.

[2019-06-13 15:09] CJStadler commented on #597
@sruteesh-pivot I've tested the notebook against the featuretools `master` branch and it looks like this is resolved, so I'm closing the issue.

You can install from `master` with `pip install git+https://github.com/Featuretools/featuretools`. The next official release should be in a few weeks.

[2019-06-13 15:09] #597 closed

[2019-06-13 20:06] #556 closed

[2019-06-14 04:14] licsh commented on #467
I meet the same problem, so the bug was fixed now?

[2019-06-14 13:44] kmax12 commented on #467
it should be. can you provide more details about who you are hitting this error?

also can you run `featuretools info` from the command line and share the output?

[2019-06-14 14:16] kmax12 commented on #596
@nutle python versions could be the problem. are you able to provide a reproducible example?

[2019-06-14 15:21] nutle commented on #596
So far a workaround is generating the features in the same environment as loading them. Not very convenient, but works.

I've noticed though, that on python 3.6 machine the "feature_definitions" object is at least 10 times  larger in size: while "feature_definitions" file, generated on python3.7 machine takes, i.e., 170KB, the same output using the same code and input on python3.6 results in a fil

[2019-06-14 15:27] kmax12 commented on #596
are you sure you have featuretools 0.8.0 installed in python 3.6?

[2019-06-14 15:29] nutle commented on #596
Yes, double checked this, and it says 0.8.0 in the generated json too
________________________________
From: Max Kanter <notifications@github.com>
Sent: Friday, June 14, 2019 6:28:06 PM
To: Featuretools/featuretools
Cc: sjok; Mention
Subject: Re: [Featuretools/featuretools] Error when calling "load_features": 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte (#596)

are you su

[2019-06-14 15:30] kmax12 commented on #596
sorry, I mean 0.8.0 in python 3.7. they should both be clean json files

[2019-06-14 15:40] nutle commented on #596
I hope this is it, will check. Thanks!
________________________________
From: Max Kanter <notifications@github.com>
Sent: Friday, June 14, 2019 6:30:46 PM
To: Featuretools/featuretools
Cc: sjok; Mention
Subject: Re: [Featuretools/featuretools] Error when calling "load_features": 'utf-8' codec can't decode byte 0x80 in position 0: invalid start byte (#596)

sorry, I mean 0.8.0 in python 3.7. they s

[2019-06-14 21:07] rwedge commented on #593
Hi @johnnyheineken, glad to hear you're interested in this issue!

A brief rundown of how feature names are handled for single output features:

* The feature name is generated using `feature.generate_name`.  Each feature class implements its own version of `generate_name`.
* With the exception of the `IdentityFeature` class, each feature class’s `generate_name` function relies on the `generate_na

[2019-06-14 22:13] nutle commented on #596
Indeed, the dev machine had 0.7.1 featuretools. Sorry for such a silly issue!

On the other hand, a backward compatibility between the methods would be nice for cases like these, but anyway thanks for keeping up the great work!

[2019-06-14 22:13] #596 closed

[2019-06-14 23:01] kmax12 commented on #596
in fact, that's exactly why we moved to the JSON format in 0.8.0. Much more backwards compatible then using pickle.

[2019-06-17 07:07] jbdouet commented on #54
Any update on this use case ?

[2019-06-18 13:58] CJStadler opened #601 "Support entitysets with cycles in their relationship graph"
For example, a self-loop:
[code]
Or, a cycle involving multiple entities:
[code]
We should be able to create features that traverse these cycles once or more. For example, "The average salary of the direct reports of an employee's direct reports": `MEAN(employees.employees.salary)`.

To support this there are at least two places in the code which assume there are no cycles and so will need to be u

[2019-06-18 20:02] kmax12 opened #603 "Setting last time index to be a column in the dataset"
Currently, a last time index can only be added to an entity by calling `EntitySet.add_last_time_indexes`.

We should also a user to specify if a column an entity is the last time index.

If a user did this, we could return based on that column rather than the stored last time index by modifying this method

https://github.com/Featuretools/featuretools/blob/master/featuretools/entityset/entity.py#L

[2019-06-19 13:04] Ingvar-Y opened #604 "dfs doesn't use TimeSince primitives on datetime features"
### Bug/Feature Request Title

TimeSince primitives don't calculate on Datetime and DateOfBirth features (but calculate on DatetimeTimeIndex). That doesn't seem right since you can have a few columns describing different timestamps you may want to use.

Actually, is there any way to check which primitives apply to which variable_types?

My featuretools package is built from master branch.

#### Ou

[2019-06-19 13:07] kmax12 opened #605 "Remove DaysSince Primitive"
We can remove the `DaysSince` primitive which is the equivalent to `TimeSince(unit="days")

[2019-06-19 13:57] kmax12 commented on #604
You're right, `TimeSince` probably should automatically apply to `DateTime` and `DateOfBirth` variables

A workaround for the time being would be to manually define these features as seed features, which you can read more about [here](https://docs.featuretools.com/guides/tuning_dfs.html#using-seed-features).

For example,

[code]

this returns

[code]

Note: make sure to pull the latest master bef